In [36]:
import pdfplumber
import tabula
import camelot
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
def extract_table(file_path, strategy, page_number = 0):
    pdf = pdfplumber.open(file_path)
    p0 = pdf.pages[page_number]
    if strategy == "text":
        table = p0.extract_tables({"horizontal_strategy": "text"})
    else:
        table = p0.extract_tables({'snap_tolerance': 7, })
    #print(table)
    try:
        [print(line) for line in table]
    except:
        print("Nope")
    return table

### 304-licitacoes-passa-vinte/7e0a1d03c293b71a0e72c76bd333f7fe_sem_tabela.pdf
- Pegou só a primeira tabela por página, é limitação do extrator ou algum erro no tratamento? Daria para pegar as demais?
    - Acho que o erro aqui é utilizar extract_table, ele retorna apenas a primeira tabela, deveria ser usado extract_tables que retorna uma lista de tabelas

In [3]:
file_path = "../data/304-licitacoes-passa-vinte/data/files/7e0a1d03c293b71a0e72c76bd333f7fe.pdf"
print("-"*10, "text", "-"*10)
extract_table(file_path, "text", 6)
print("-"*10, "line", "-"*10)
extract_table(file_path, "line", 6)

---------- text ----------
[['Lote 1 - CH. RECORTADA ³/8 300 X 300', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['', 'CH. RECORTADA ³/8 300 X', '', '', '', '', '', ''], ['35864', '', 'PC', '36,0000', '68.0000', '2448.00000000', '27,85%', '-']]
[['Lote 4 - ELETRODO WELD (ESAB) 6013 2,50MM', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['', 'ELETRODO WELD (ESAB)', '', '', '', '', '', ''], ['35855', '', 'KG', '300,0000', '11.9000', '3570.00000000', '16,88%', '-']]
[['Lote 5 - Malha POP 2x3m Espaçamento 15x15cm - Espessura  do ferro 4,20.', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['', 'Malha POP 2x3m', '', '', '', '', '', ''], ['36305', 'Espaçamento 15x15cm -', 'UNID', '10.130,0000', '48.5000', '491305.00000000', '5,93%', '-']]
[['Lote 6 - Malha POP 2x3m Espaçamento 20x20cm - Espessura  do ferro 3,40.', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['', 'Malha POP 2x3m', '', '', '', '', '', ''], ['36306', 'Espaçamento 20x20cm -', 'Unidades', '10.130,0000', '23.0000', '232990.00000000', '9,20%', '-']]
[['Lote 7 - Malha Pop 3x2m Espaçamento 10x10cm. Espessura do ferro 4.20', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['', 'Malha Pop 3x2m', '', '', '', '', '', ''], ['36304', 'Espaçamento 10x10cm.', 'UNID', '10.130,0000', '68.0000', '688840.00000000', '8,31%', '-']]
[['Lote 14 - VIGAU ENRIJECIDA 3" X 2,65 X 6000', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['', 'VIGAU ENRIJECIDA 3" X', '', '', '', '', '', ''], ['35861', '', 'PC', '400,0000', '82.9000', '33160.00000000', '14,34%', '-']]
---------- line ----------
[['Lote 1 - CH. RECORTADA ³/8 300 X 300', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['35864', 'CH. RECORTADA ³/8 300 X\n300', 'PC', '36,0000', '68.0000', '2448.00000000', '27,85%', '-'], [None, None, None, None, None, 'Total Lote R$ 2.448,00', None, None]]
[['Lote 4 - ELETRODO WELD (ESAB) 6013 2,50MM', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['35855', 'ELETRODO WELD (ESAB)\n6013 2,50MM', 'KG', '300,0000', '11.9000', '3570.00000000', '16,88%', '-'], [None, None, None, None, None, 'Total Lote R$ 3.570,00', None, None]]
[['Lote 5 - Malha POP 2x3m Espaçamento 15x15cm - Espessura  do ferro 4,20.', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['36305', 'Malha POP 2x3m\nEspaçamento 15x15cm -\nEspessura  do ferro 4,20.', 'UNID', '10.130,0000', '48.5000', '491305.00000000', '5,93%', '-'], [None, None, None, None, None, 'Total Lote R$ 491.305,00', None, None]]
[['Lote 6 - Malha POP 2x3m Espaçamento 20x20cm - Espessura  do ferro 3,40.', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['36306', 'Malha POP 2x3m\nEspaçamento 20x20cm -\nEspessura  do ferro 3,40.', 'Unidades', '10.130,0000', '23.0000', '232990.00000000', '9,20%', '-'], [None, None, None, None, None, 'Total Lote R$ 232.990,00', None, None]]
[['Lote 7 - Malha Pop 3x2m Espaçamento 10x10cm. Espessura do ferro 4.20', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['36304', 'Malha Pop 3x2m\nEspaçamento 10x10cm.\nEspessura do ferro 4.20', 'UNID', '10.130,0000', '68.0000', '688840.00000000', '8,31%', '-'], [None, None, None, None, None, 'Total Lote R$ 688.840,00', None, None]]
[['Lote 14 - VIGAU ENRIJECIDA 3" X 2,65 X 6000', None, None, None, None, None, None, None], ['Código', 'Nome Prod/Serv', 'Unidade', 'Quantidade', 'Valor', 'Total', '% Econ.', 'Marca'], ['35861', 'VIGAU ENRIJECIDA 3" X\n2,65 X 6000', 'PC', '400,0000', '82.9000', '33160.00000000', '14,34%', '-'], [None, None, None, None, None, 'Total Lote R$ 33.160,00', None, None]]

### 289-licitacoes-coqueiral/f459131d918482cde60e72cf7740a203_com_tabela.pdf
A parte da tabela que contem os itens é descartada, foi processamento ou limitação da ferramenta? Obs.: o formato da tabela é bem zoado.

In [ ]:
mun_folder = "289-licitacoes-coqueiral"
file_name = "f459131d918482cde60e72cf7740a203"
page_number = 2
file_path = "../data/{}/data/files/{}.pdf".format(mun_folder, file_name)
print("-"*10, "text", "-"*10)
extract_table(file_path, "text", page_number)
print("-"*10, "line", "-"*10)
extract_table(file_path, "line", page_number)

### 289-licitacoes-coqueiral/9b0b62c6d4be49cedf64dfa5aedac04b_com_tabela.pdf , 289-licitacoes-coqueiral/795030e4733503b546ca971e1d8ecebb_com_tabela.pdf , 2ba108ce36bf3fe2a98daa28419232e3
### 290-licitacoes-cristais/data/files/499fa518c7724a6e449c509b7d7bc819.pdf
A parte da tabela que contem os itens é descartada, foi processamento ou limitação da ferramenta? Obs.: o formato da tabela é bem zoado.

In [5]:
mun_folder = "289-licitacoes-coqueiral"
file_name = "9b0b62c6d4be49cedf64dfa5aedac04b"
page_number = 0
file_path = "../data/{}/data/files/{}.pdf".format(mun_folder, file_name)
print("-"*10, "text", "-"*10)
extract_table(file_path, "text", page_number)
print("-"*10, "line", "-"*10)
extract_table(file_path, "line", page_number)

---------- text ----------
[['Solicitação', 'Código', 'Descrição', None, None, None, 'Quantidade', 'Unitário', 'Total', None], ['166', '11207', 'AGULHA HIPODÉRMICA 13X4,5', None, None, None, '12.000,0000', '0,0500', '600,00', None], ['166', '11242', 'AGULHA HIPODÉRMICA 20X5,5', None, None, None, '4.000,0000', '0,0500', '200,00', None], ['166', '11243', 'AGULHA HIPODÉRMICA 25X6', None, None, None, '4.000,0000', '0,0500', '200,00', None], ['166', '11210', 'AGULHA HIPODÉRMICA 25X7', None, None, None, '5.500,0000', '0,0500', '275,00', None], ['166', '11211', 'AGULHA HIPODÉRMICA 25X8', None, None, None, '4.000,0000', '0,0500', '200,00', None], ['166', '11212', 'AGULHA HIPODÉRMICA 40X12', None, None, None, '5.500,0000', '0,0600', '330,00', None], ['166', '8871', 'BANDEIJA RETANGULAR', None, None, None, '2,0000', '43,0000', '86,00', None], ['166', '5999', 'CATETER P/ OXIGÊNIO TIPO ÓCULOS', None, None, None, '830,0000', '0,6600', '547,80', None], ['166', '2609', 'COMPRESSA DE GAZE 13 FIOS 7,5X7,5 CM', None, None, None, '650,0000', '11,4000', '7.410,00', None], ['166', '2608', 'CUBA RIM 26X12X6CM', None, None, None, '2,0000', '35,8000', '71,60', None], ['166', '11205', 'EQUIPO PARA NUTRIÇÃO ENTERAL', None, None, None, '80,0000', '0,9300', '74,40', None], ['166', '11240', 'FITA MICROPORE 5X4,5CM', None, None, None, '50,0000', '2,9800', '149,00', None], ['166', '11218', 'GEL CONDUTOR INCOLOR PARA ULTRASSON/ ELETROCARDIOGRAMA 1', None, None, None, 'L 60,0000', '3,9000', '234,00', None], ['166', '6998', 'KIT PARA COLETA DE EXAME PAPANICOLAU TAMANHO M', None, None, None, '1.200,0000', '1,5500', '1.860,00', None], ['166', '9086', 'KIT PARA COLETA DE EXAME PAPANICOLAU TAMANHO P', None, None, None, '500,0000', '1,4500', '725,00', None], ['166', '1399', 'LENÇOL HOSPITALAR DE PAPEL DE 70 CM X 50 MT', None, None, None, '50,0000', '5,6500', '282,50', None], ['166', '11194', 'LUVAS DE LÁTEX PARA PROCEDIMENTO TAM M', None, None, None, '250,0000', '17,2000', '4.300,00', None], ['166', '6512', 'PAPEL TERMOSENSÍVEL PARA ECG', None, None, None, '90,0000', '19,4000', '1.746,00', None], ['166', '11225', 'REGULADOR DE OXIGÊNIO COM FLUXÔMETRO 0-15', None, None, None, '4,0000', '315,0000', '1.260,00', None], ['166', '6385', 'RINGER LACTATO 500 ML', None, None, None, '300,0000', '2,5000', '750,00', None], ['166', '11222', 'SERINGA DESCARTÁVEL 10ML', None, None, None, '2.300,0000', '0,2200', '506,00', None], ['166', '2768', 'SERINGA DESCARTÁVEL 20ML', None, None, None, '2.200,0000', '0,3390', '745,80', None], ['166', '11223', 'SERINGA DESCARTÁVEL 3ML', None, None, None, '12.600,0000', '0,1200', '1.512,00', None], ['166', '2766', 'SERINGA DESCARTÁVEL 5ML', None, None, None, '3.000,0000', '0,1200', '360,00', None], ['166', '2668', 'Sonda asp. Traqueal nº  18', None, None, None, '20,0000', '0,5700', '11,40', None], ['166', '2677', 'Sonda Nasogástrica nº08 longa', None, None, None, '100,0000', '0,6190', '61,90', None], ['166', '2679', 'Sonda nasogástrica nº10 longa', None, None, None, '100,0000', '0,6390', '63,90', None], ['166', '2682', 'Sonda Nasogástrica nº12 longa', None, None, None, '100,0000', '0,5400', '54,00', None], ['166', '11169', 'SONDA URETRAL Nº22', None, None, None, '100,0000', '0,6700', '67,00', None], ['166', '9195', 'Sonda Vesical de demora nº 10', None, None, None, '25,0000', '3,4600', '86,50', None], ['166 11172 SONDA VESICAL DE DEMORA Nº 24 20,0000 2,8600 57,20', None, None, None, None, None, None, None, None, None], ['TOTAL PARTICIPANTE', None, None, '', 'ITEM(NS): 31', '2', None, None, None, '4.827,00']]
---------- line ----------
[['135', 'Data:01/08/2018 Modalidade: 71 - PREGÃO - SRP Valor:', '106.241,57'], [None, None, '24.827,00']]
[['Solicitação', 'Código', 'Descrição', None, None, 'Quantidade', 'Unitário', 'Total', None], ['166', '11207', 'AGULHA HIPODÉRMICA 13X4,5\nAGULHA HIPODÉRMICA 20X5,5\nAGULHA HIPODÉRMICA 25X6\nAGULHA HIPODÉRMICA 25X7\nAGULHA HIPODÉRMICA 25X8\nAGULHA HIPODÉRMICA 40X12\nBANDEIJA RETANGULAR\nCATETER P/ OXIGÊNIO TIPO ÓCULOS\nCOMPRESSA DE GAZE 13 FIOS 7,5X7,5 CM\nCUBA RIM 26X12X6CM\nEQUIPO PARA NUTRIÇÃO ENTERAL\nFITA MICROPORE 5X4,5CM\nGEL CONDUTOR INCOLOR PARA ULTRASSON/ ELETROCARDIOGRAMA 1\nKIT PARA COLETA DE EXAME PAPANICOLAU TAMANHO M\nKIT PARA COLETA DE EXAME PAPANICOLAU TAMANHO P\nLENÇOL HOSPITALAR DE PAPEL DE 70 CM X 50 MT\nLUVAS DE LÁTEX PARA PROCEDIMENTO TAM M\nPAPEL TERMOSENSÍVEL PARA ECG\nREGULADOR DE OXIGÊNIO COM FLUXÔMETRO 0-15\nRINGER LACTATO 500 ML\nSERINGA DESCARTÁVEL 10ML\nSERINGA DESCARTÁVEL 20ML\nSERINGA DESCARTÁVEL 3ML\nSERINGA DESCARTÁVEL 5ML\nSonda asp. Traqueal nº  18 \nSonda Nasogástrica nº08 longa\nSonda nasogástrica nº10 longa \nSonda Nasogástrica nº12 longa\nSONDA URETRAL Nº22\nSonda Vesical de demora nº 10\nSONDA VESICAL DE DEMORA Nº 24', None, None, '12.000,0000', '0,0500', '600,00', None], ['166', '11242', None, None, None, '4.000,0000', '0,0500', '200,00', None], ['166', '11243', None, None, None, '4.000,0000', '0,0500', '200,00', None], ['166', '11210', None, None, None, '5.500,0000', '0,0500', '275,00', None], ['166', '11211', None, None, None, '4.000,0000', '0,0500', '200,00', None], ['166', '11212', None, None, None, '5.500,0000', '0,0600', '330,00', None], ['166', '8871', None, None, None, '2,0000', '43,0000', '86,00', None], ['166', '5999', None, None, None, '830,0000', '0,6600', '547,80', None], ['166', '2609', None, None, None, '650,0000', '11,4000', '7.410,00', None], ['166', '2608', None, None, None, '2,0000', '35,8000', '71,60', None], ['166', '11205', None, None, None, '80,0000', '0,9300', '74,40', None], ['166', '11240', None, None, None, '50,0000', '2,9800', '149,00', None], ['166', '11218', None, None, None, 'L 60,0000', '3,9000', '234,00', None], ['166', '6998', None, None, None, '1.200,0000', '1,5500', '1.860,00', None], ['166', '9086', None, None, None, '500,0000', '1,4500', '725,00', None], ['166', '1399', None, None, None, '50,0000', '5,6500', '282,50', None], ['166', '11194', None, None, None, '250,0000', '17,2000', '4.300,00', None], ['166', '6512', None, None, None, '90,0000', '19,4000', '1.746,00', None], ['166', '11225', None, None, None, '4,0000', '315,0000', '1.260,00', None], ['166', '6385', None, None, None, '300,0000', '2,5000', '750,00', None], ['166', '11222', None, None, None, '2.300,0000', '0,2200', '506,00', None], ['166', '2768', None, None, None, '2.200,0000', '0,3390', '745,80', None], ['166', '11223', None, None, None, '12.600,0000', '0,1200', '1.512,00', None], ['166', '2766', None, None, None, '3.000,0000', '0,1200', '360,00', None], ['166', '2668', None, None, None, '20,0000', '0,5700', '11,40', None], ['166', '2677', None, None, None, '100,0000', '0,6190', '61,90', None], ['166', '2679', None, None, None, '100,0000', '0,6390', '63,90', None], ['166', '2682', None, None, None, '100,0000', '0,5400', '54,00', None], ['166', '11169', None, None, None, '100,0000', '0,6700', '67,00', None], ['166', '9195', None, None, None, '25,0000', '3,4600', '86,50', None], ['166', '11172', None, None, None, '20,0000', '2,8600', '57,20', None], ['TOTAL PARTICIPANT', None, 'E', 'ITEM(NS): 31', '2', None, None, None, '4.827,00']]

### 289-licitacoes-coqueiral/7e37c242d98240af4deeab78518fc9e6_com_tabela.pdf
### Olhar exemplo no notebook da Amanda
Verificar se uma linha tem mais colunas vazias que preenchidas, caso sim, concatenar ela com a linha anterior.

### 290-licitacoes-cristais/data/files/5a1d3235d4893a0e166fc87b4f30de5b.pdf , b811b453d6ce70cb0bfc588161b96dd2 , f1287cc8fcccf899d0b5d7446381eb34 , 
### olhar notebook Amanda
- nesse caso ele quebrou a tabela em duas por conta de um None, daria pra tratar, ou acabaria quebrando o código?
- utilizar extract_tables, aparentemente daria pra extrair mais tabelas aqui

In [6]:
mun_folder = "290-licitacoes-cristais/"
file_name = "5a1d3235d4893a0e166fc87b4f30de5b"
page_number = 0
file_path = "../data/{}/data/files/{}.pdf".format(mun_folder, file_name)
print("-"*10, "text", "-"*10)
extract_table(file_path, "text", page_number)
print("-"*10, "line", "-"*10)
extract_table(file_path, "line", page_number)

---------- text ----------
[['EMPRESA LICITANTE(S)'], ['DISA DISTRIBUIDORA SUDOESTE DE AUTOS LTDA CNPJ:'], ['17.889.783/0001-09'], ['ÁGUIA VEÍCULOS E PEÇAS LTDA CNPJ:006.036.371/0001-00'], ['VIAMONDO AUTOMÓVEIS E PEÇAS LTDA CNPJ:']]
---------- line ----------
[['Equipe de Apoio'], ['BRUNO LUIZ DE LIMA']]
[['EMPRESA LICITANTE(S)', 'REPRESENTANTE(S)'], ['DISA DISTRIBUIDORA SUDOESTE DE AUTOS LTDA CNPJ:', 'WAGNER MARCELINO SILVA CPF 009.165.836-51'], ['17.889.783/0001-09', None], ['ÁGUIA VEÍCULOS E PEÇAS LTDA CNPJ:006.036.371/0001-00', 'CLODOMIR GENESCO JESUS COSTA CPF: 533.806.146-53'], ['VIAMONDO AUTOMÓVEIS E PEÇAS LTDA CNPJ:', 'LEONARDO PENA CHIARADIA CPF: 035.210.966-10'], ['00.836.942/0001-04', None]]

### Nesse caso sua solução quase pegou, mas perdeu o título, foi por conta da linha inválida?
- concatenar linhas com mesmo número de colunas, mas maioria de valores None seria uma solução? Quebraria a lógica?

In [7]:
mun_folder = "290-licitacoes-cristais/"
file_name = "2cb3f9bdfa78bee9de9937c2a8c42174"
page_number = 0
file_path = "../data/{}/data/files/{}.pdf".format(mun_folder, file_name)
print("-"*10, "text", "-"*10)
extract_table(file_path, "text", page_number)
print("-"*10, "line", "-"*10)
extract_table(file_path, "line", page_number)

---------- text ----------
[['LICITANTE(S)'], ['CNPJ 09.222.369/0001-13'], ['DENTAL MARIA LTDA ME'], ['CNPJ 07.978.004/0001-98'], ['DENTAL MED EQUIPAMENTOS E MATERIAIS ODONTOLÓGICOS E'], ['HOSPITALARES LTDA EPP'], ['CNPJ 25.725.813/0001-70']]
[['EQUIPAR MÉDICO E HOSPITALAR LTDA', None, None, None, None, None, None], ['Item  Descrição  Marca  UN  Qtd.  Valor Unitário  Valor Total', None, None, None, None, None, None], ['1', 'GUTA PERCHA EM BASTÃO, BRANCA', '', 'UN', '4', '31,5000', '126,00'], ['2', 'ANESTÉSICO ODONTOLÓGICO CLORIDRATO DE', '', 'UN', '35', '74,5000', '2607,50'], ['', 'MEPIVACAINA A 3% SEM VASO CONSTRITOR', '', '', '', '', ''], ['3', 'GLUTARALDEÍDO 2 % FRASCO COM 1.000ML', '', 'L', '25', '11,5000', '287,50'], ['4', 'CREME DENTAL COM FLÚOR 90 G', '', 'UN', '2000', '1,3200', '2640,00'], ['5', 'ACABAMENTO PARA RESINA BROCA FF', '', 'KIT', '15', '54,5000', '817,50'], ['6', 'ÁGUA OXIGENADA 10 VOLUMES FRASCO DE 1', '', 'FR', '15', '3,5600', '53,40'], ['', 'LITRO', '', '', '', '', ''], ['7', 'AGULHA ODONTOLÓGICA DESCARTÁVEL PARA', '', 'CX', '20', '32,9000', '658,00'], ['', 'ANESTESIA, 27 G, LONGA, CAIXA COM 100', '', '', '', '', ''], ['', 'UNIDADES', '', '', '', '', ''], ['8', 'AGULHA ODONTOLÓGICA DESCARTÁVEL PARA', '', 'CX', '20', '32,9000', '658,00'], ['', 'ANESTESIA, 30 G, CURTA, CAIXA COM 100', '', '', '', '', ''], ['', 'UNIDADES', '', '', '', '', ''], ['9', 'ÁLCOOL ETÍLICO 70%, FRASCO COM 1000', '', 'FR', '30', '5,9500', '178,50'], ['', 'MILILITROS', '', '', '', '', ''], ['10', 'ÁLCOOL IODADO 70%, EMBALAGEM COM 1 LITRO', '', 'L', '20', '9,8000', '196,00'], ['11', 'ALGODÃO HIDRÓFILO EM ROLETES DENTAIS,', '', 'PCT', '150', '2,1000', '315,00'], ['', 'PACOTE COM 100 UNIDADES', '', '', '', '', ''], ['12', 'ALMOTOLIA PLÁSTICA TRANSPARENTE BICO', '', 'UN', '20', '2,2900', '45,80'], ['', 'RETO 250 ML', '', '', '', '', ''], ['13', 'ANESTÉSICO ODONTOLÓGICO CLORIDRATO DE', '', 'CX', '35', '43,3500', '1517,25'], ['', 'LIDOCAÍNA 2% COM VASO CONSTRITOR', '', '', '', '', ''], ['', '(FENILEFRINA, ADRENALINA OU SIMILAR)', '', '', '', '', ''], ['14', 'ANESTÉSICO ODONTOLÓGICO CLORIDRATO', '', 'CX', '35', '43,9000', '1536,50'], ['', 'PRILOCAÍNA A 3% COM FELIPRESSINA OU', '', '', '', '', ''], ['', 'OCTAPRESIM', '', '', '', '', ''], ['15', 'ANESTÉSICO TÓPICO GEL  SABOR TUTI FRUTI OU', '', 'UN', '35', '6,7500', '236,25'], ['', 'ABACAXI', '', '', '', '', ''], ['16', 'ANESTÉSICO TÓPICO SPRAY', '', 'UN', '15', '43,6000', '654,00']]
---------- line ----------
[['Equipe de Apoio'], ['ISABELLA DE LARA RIBEIRO, TARCISIO ANTONIO MARTINS']]
[['LICITANTE(S)', 'REPRESENTANTE(S)'], ['CNPJ 09.222.369/0001-13', 'AUSENTE (DOCUMENTO ENVIADO PELOS CORREIOS)'], ['DENTAL MARIA LTDA ME', None], ['CNPJ 07.978.004/0001-98', 'AUSENTE (DOCUMENTO ENVIADO PELOS CORREIOS)'], ['DENTAL MED EQUIPAMENTOS E MATERIAIS ODONTOLÓGICOS E', None], ['HOSPITALARES LTDA EPP', None], ['CNPJ 25.725.813/0001-70', 'AUSENTE (DOCUMENTO ENVIADO PELOS CORREIOS)'], ['EQUIPAR MÉDICO E HOSPITALAR LTDA', None]]
[['EQUIPAR MÉDICO E HOSPITALAR LTDA', None, None, None, None, None, None], ['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['', None, None, None, None, None, None], ['1', 'GUTA PERCHA EM BASTÃO, BRANCA', '', 'UN', '4', '31,5000', '126,00'], ['2', 'ANESTÉSICO ODONTOLÓGICO CLORIDRATO DE', '', 'UN', '35', '74,5000', '2607,50'], ['', 'MEPIVACAINA A 3% SEM VASO CONSTRITOR', '', '', '', '', ''], ['3', 'GLUTARALDEÍDO 2 % FRASCO COM 1.000ML', '', 'L', '25', '11,5000', '287,50'], ['4', 'CREME DENTAL COM FLÚOR 90 G', '', 'UN', '2000', '1,3200', '2640,00'], ['5', 'ACABAMENTO PARA RESINA BROCA FF', '', 'KIT', '15', '54,5000', '817,50'], ['6', 'ÁGUA OXIGENADA 10 VOLUMES FRASCO DE 1', '', 'FR', '15', '3,5600', '53,40'], ['', 'LITRO', '', '', '', '', ''], ['7', 'AGULHA ODONTOLÓGICA DESCARTÁVEL PARA', '', 'CX', '20', '32,9000', '658,00'], ['', 'ANESTESIA, 27 G, LONGA, CAIXA COM 100', '', '', '', '', ''], [None, 'UNIDADES', None, None, None, None, None], ['8', 'AGULHA ODONTOLÓGICA DESCARTÁVEL PARA', '', 'CX', '20', '32,9000', '658,00'], ['', 'ANESTESIA, 30 G, CURTA, CAIXA COM 100', '', '', '', '', ''], [None, 'UNIDADES', None, None, None, None, None], ['9', 'ÁLCOOL ETÍLICO 70%, FRASCO COM 1000', '', 'FR', '30', '5,9500', '178,50'], ['', 'MILILITROS', '', '', '', '', ''], ['10', 'ÁLCOOL IODADO 70%, EMBALAGEM COM 1 LITRO', '', 'L', '20', '9,8000', '196,00'], ['11', 'ALGODÃO HIDRÓFILO EM ROLETES DENTAIS,', '', 'PCT', '150', '2,1000', '315,00'], ['', 'PACOTE COM 100 UNIDADES', '', '', '', '', ''], ['12', 'ALMOTOLIA PLÁSTICA TRANSPARENTE BICO', '', 'UN', '20', '2,2900', '45,80'], ['', 'RETO 250 ML', '', '', '', '', ''], ['13', 'ANESTÉSICO ODONTOLÓGICO CLORIDRATO DE', '', 'CX', '35', '43,3500', '1517,25'], ['', 'LIDOCAÍNA 2% COM VASO CONSTRITOR', '', '', '', '', ''], [None, '(FENILEFRINA, ADRENALINA OU SIMILAR)', None, None, None, None, None], ['14', 'ANESTÉSICO ODONTOLÓGICO CLORIDRATO', '', 'CX', '35', '43,9000', '1536,50'], ['', 'PRILOCAÍNA A 3% COM FELIPRESSINA OU', '', '', '', '', ''], [None, 'OCTAPRESIM', None, None, None, None, None], ['15', 'ANESTÉSICO TÓPICO GEL  SABOR TUTI FRUTI OU', '', 'UN', '35', '6,7500', '236,25'], ['', 'ABACAXI', '', '', '', '', ''], ['16', 'ANESTÉSICO TÓPICO SPRAY', '', 'UN', '15', '43,6000', '654,00']]

### 2cb3f9bdfa78bee9de9937c2a8c42174, 8536c092ea2d9aa0e826e88d3a1335c4
- tabelas que ocupam mais de uma página: se encontrar um conjunto de tabelas com o mesmo número de colunas mas o título das colunas diferem em cada tabela, pode ser um indicativo que elas pertencem a mesma tabela? Poderiamos utilizar isso para fazer um union delas?

# Próximos passos
- Caracterizar os termos que aparecem no título das tabelas.
    - Conseguimos extrair alguma informação a partir disso?
    - Conseguimos estruturar uma estratégia para extração das informações das tabelas a partir disso?
- O F03 precisou identificar termos que são relacionados a quantidades de itens, podemos utilizar a estratégia desenvolvida por eles para auxiliar nosso trabalho?
- Tem mais alguma coisa que o F03 utilizou que pode nos ser útil pra detectar o que é cada elemento nas nossas tabelas?

In [26]:
def count_empty(table):
    cell_count = 0
    empty_count = 0
    for line in table:
        empty_count += line.count(None) + line.count('')
        cell_count += len(line)
    print(empty_count/cell_count)

In [34]:
table2df_func = lambda table: pd.DataFrame(table[1:], columns=table[0])

In [45]:
mun_folder = "289-licitacoes-coqueiral"
file_name = "9b031c8b2f8aba5994af276f9507c9c1"
file_path = "../data/{}/data/files/{}.pdf".format(mun_folder, file_name)
tables = extract_table(file_path, "text", 0)
count_empty(tables[0])
table2df_func(tables[0])

[['Código', 'Descrição', 'Quantidade', 'Unitário', 'Total'], ['11117', 'SERVIÇO DE SONORIZAÇÃO E ILUMINAÇÃO DE MÉDIO PORTE: PA 6X6 - FESTA', '1,0000', '3.980,0000', '3.980,00']]
[['11143', 'SERVIÇO DE SONORIZAÇÃO E ILUMINAÇÃO PARA EVENTOS EM AMBIENTES', '10,0000', '1.100,0000', '11.000,00']]
[['11113', 'TENDA 3 X 3M - FESTIVAL QUITANDAS DE MINAS', '1,0000', '1.290,0000', '1.290,00']]
[['TOTAL PARTICIPANTE', '', 'ITEM(NS): 4', '', '17.770,00']]
0.0

,Código,Descrição,Quantidade,Unitário,Total
0,11117,SERVIÇO DE SONORIZAÇÃO E ILUMINAÇÃO DE MÉDIO P...,"1,0000","3.980,0000","3.980,00"

# Versão 2

In [66]:
import pdfplumber
import os
import json
import re
from collections import defaultdict
import tabula
import pandas as pd
import camelot

In [67]:
# list path
REMOVAL_HASH = '455a1c62-af50-4116-9298-7150282ef8d8'
base_path = "../data/ata_documents/"
pattern = "\\d+[-_]licitacoes-(([a-z]|-)+)"

sel_path = os.listdir(base_path)
sel_path = list(filter(lambda f: re.match(pattern, f), sel_path)) # Seleciona os que iniciam com <cod>-licitacoes-<cidade>
cities = [re.match(pattern, p)[1] for p in sel_path]

# arquivos por cidade
cities_files = {city: list(map(lambda x: f"{base_path}{p}/{x}", os.listdir(f"{base_path}{p}/")))  for city, p in zip(cities, sel_path)}
print("cities: " + ", ".join(cities_files.keys()))
print([(key, len(docs)) for key, docs in cities_files.items()])

cities: sao-bento-abade, passa-vinte, coqueiral, cristais
[('sao-bento-abade', 11), ('passa-vinte', 4), ('coqueiral', 17), ('cristais', 11)]

In [133]:
cities_files_2 = {'sao-bento-abade': ['../data/ata_documents/381-licitacoes-sao-bento-abade/4d6035bf3212568e336fe0ab7d9fb215_com_tabela.pdf']}
cities_files_2 = cities_files

In [134]:
table2df_func = lambda table: pd.DataFrame(table[1:], columns=table[0])

def count_table_empty(tables):
    cell_count = 0
    empty_count = 0
    for table in tables:
        for line in table:
            empty_count += line.count(None) + line.count('')
            cell_count += len(line)
    frac_empty = empty_count/cell_count if empty_count > 0 and cell_count > 0 else 0
    return frac_empty

def count_line_empty(line):
    return line.count(None) + line.count('')

def pdfplumber_extract_page(pdf, p, strategy):
    p_tables = pdf.pages[p].extract_tables({'snap_tolerance': 7, "horizontal_strategy": strategy})
    return {'page': p, 'tables': p_tables}

def camelot_extract_page(pdf, p):
    p_tables = camelot.read_pdf(file, flavor='stream', pages = str(p))
    p_tables =  list(map(lambda table: table.df, p_tables))
    return {'page': p, 'tables': p_tables}

def pdfplumber_default(file):
    pdf = pdfplumber.open(file)
    page_count = pdf.pages
    tables = []
    for p in range(page_count):
        p_tables = pdf.pages[p].extract_table({'snap_tolerance': 7})
        if bool(p_tables):
            tables.append({'page': p, 'tables': p_tables})
    return tables

def pdfplumber_horizontal_text(pdf):
    page = pdf.pages[p]
    tables = page.extract_tables({'horizontal_strategy': 'text'})
    return tables

def camelot_stream_flavor(file, p = 'all'):
    tables = camelot.read_pdf(file, flavor='stream', pages = p)
    return list(map(lambda table: table.df, tables))

def extract_id_from_path(file_path):
    id = file_path.split('/')[-1].split('_')[0]
    return id

cities_tables = {}

for city, files in cities_files_2.items():
    print(f'## {city} ##')
    cities_tables[city] = {}
    for file in files:
        file_id = extract_id_from_path(file)
        cities_tables[city][file_id] = []
        pdf = pdfplumber.open(file)
        for index in range(len(pdf.pages)):
            # extração usando texto
            tables_t = pdfplumber_extract_page(pdf, index, "text")
            # extração usando linha
            tables_l = pdfplumber_extract_page(pdf, index, "lines")
            # escolhe a tabela que possui menos células vazias
            tables = tables_t if count_table_empty(tables_t['tables']) < count_table_empty(tables_l['tables']) else tables_l
#             if 'c7d2371dbc67b51c8e350e03d0c46b8a' in file_id:
#                 print(tables)
            # se não encontrou nenhuma tabela, tenta extrair com o camelot
            if not bool(tables) or len(tables) == 0:
                print('** CAMELOT **')
                tables = camelot_extract_page(file, index + 1)
            if bool(tables) and bool(tables['tables']):
                # tabelas de uma linha ou coluna (TODO verificar se não é parte de uma tabela anterior ou subsequente)
                if len(tables['tables'][0]) ==1  or len(tables['tables'][0][0]) == 1:
                    print('**** desconsiderar ****')
                else:
                    cities_tables[city][file_id].append(tables)
        print('-'*50)

## sao-bento-abade ##
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
## passa-vinte ##
**** desconsiderar ****
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
## coqueiral ##
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
**** desconsiderar ****
--------------------------------------------------
--------------------------------------------------
## cristais ##
--------------------------------------------------
**** desconsiderar ****
--------------------------------------------------
**** desconsiderar ****
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
**** desconsiderar ****
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
**** desconsiderar ****
--------------------------------------------------

In [135]:
def remove_none(line):
    new_line = []
    for content in line:
        if content != None:
            new_line.append(content)
    return new_line

def process_empty(line):
    processed_line = []
    empty_indexes = []
    for index in range(len(line)):
        content = line[index]
        if content != None:
            processed_line.append(content)
        if content == '':
            empty_indexes.append(index)
    return processed_line, empty_indexes

def process_line(index, lines):
    processed_info = process_empty(lines[index])
    #print('processed_info')
    #print(processed_info)
    processed_line, empty_indexes = processed_info[0], processed_info[1]
    #print('processed_line_1')
    #print(processed_line)
    #print('empty_indexes')
    #print(empty_indexes)    
    processed_line_empty_cells = count_line_empty(processed_line)
    #print('processed_line_empty_cells')
    #print(processed_line_empty_cells)
    # se não é a última linha
    if index < len(lines) - 1:
        # utiliza como referência 3 linhas abaixo
        reference_lines = [remove_none(line) for line in lines[index + 1:min(len(lines),index + 3)]]
        #print('reference_lines 1')
        #print(reference_lines)
    else:
        # utiliza como referência 3 linhas acima
        reference_lines = [remove_none(line) for line in lines[max(0,index - 3):index]]
        #print('reference_lines 2')
        #print(reference_lines)
    if len(reference_lines) == 0:
        reference_lines_size = 0
        reference_empty_lines = 0
    else: 
        reference_lines_size = int(sum([len(line) for line in reference_lines])/len(reference_lines))
        reference_empty_cells = sum([count_line_empty(line) for line in reference_lines])/len(reference_lines)
        #print('reference_lines_size')
        #print(reference_lines_size)
        #print('reference_empty_cells')
        #print(reference_empty_cells)
        #print('len(processed_line)')
        #print(len(processed_line))
    
    if len(processed_line) != reference_lines_size:
        new_line = [processed_line[index] for index in range(len(processed_line)) if index not in empty_indexes]
        if len(new_line) == reference_lines_size:
            processed_line = new_line
#         else:
#             #print('****** VERIFICAR ******')
    # alteração
    elif processed_line_empty_cells != reference_empty_cells and len(lines[index-1]) == len(processed_line) and (reference_empty_cells/len(processed_line)) >= 0.5:
            #print("processed_line_empty_cells{} != reference_empty_cells{} and len(lines[index-1]){} == len(processed_line){}".format(                processed_line_empty_cells, reference_empty_cells, len(lines[index-1]),len(processed_line)))
            previous_line = lines[index-1]
            processed_line = [f'{previous_line[i]} {processed_line[i]}' for i in range(len(previous_line))]
            lines[index-1][0] = REMOVAL_HASH
    return processed_line

In [136]:
def extract_file_tables(file):
    # alteração
    tables_extracted = []
    if bool(file) and len(file) > 0:
        processed_table = []
        previous_page = file[0]['page']
        for i in range(len(file)): # para cada página do documento
            tables = file[i]['tables']
            #print()
            #print("Table_0")
            #print(tables)
            current_page = file[i]['page']
            for j in range(len(tables)): # para cada tabela da página
                lines = tables[j]
                #print()
                #print("Lines")
                #print(lines)                
                for k in range(len(lines)): # para cada linha da tabela
                    processed_line = process_line(k, lines)
                    #print('processed_line_2')
                    #print(processed_line)
                    #print("="*50)
#                     #print('1)', processed_line)
#                     #print('2)', processed_table)
                    # se a tabela já possuir uma linha
                    # se o tamanho da linha for diferente da processada anteriormente, indica o início de uma nova tabela
                    if REMOVAL_HASH not in processed_line:
                        #try:
                            #print("-"*100)
                            #print("len(processed_table){} > 0 and len(processed_line){} != len(processed_table[-1]){} and count_line_empty(processed_line){} != len(processed_line){}".format(len(processed_table), len(processed_line), len(processed_table[-1]), count_line_empty(processed_line), len(processed_line)))
                            #print("-"*100)
                        #except:
                        #    pass
                        if len(processed_table) > 0 and len(processed_line) != len(processed_table[-1]) and count_line_empty(processed_line) != len(processed_line):
                            #print('if1')
                            if len(processed_table[0]) > 0:
                                #print('if2')
                                tables_extracted.append(processed_table)
                            processed_table = []
                            processed_table.append(processed_line)
                        else:
                            processed_table.append(processed_line)
                        #print('processed_table')
                        #print(processed_table)
                previous_page = current_page     
        #alteração
        if len(tables_extracted) == 0:
            tables_extracted.append(processed_table)
    return tables_extracted

In [137]:
table2df_func = lambda table: pd.DataFrame(table[1:], columns=table[0])
cities_tables_p = {}
for city, files in cities_tables.items():
    print(f'**** {city} ****')
    cities_tables_p[city] = []
    for id, file in files.items():
        print(id)
        file_tables = extract_file_tables(file)
        cities_tables_p[city].append({'id': id, 'tables': file_tables})
        for table in file_tables:
            if len(table) > 0 and len(table[0]) > 0:
                try:
                    df = table2df_func(table)
                    display(df)
                except Exception as e:
                    print('** ERRO **', e)
                    print('** TABELA **', table)
                    pass

**** sao-bento-abade ****
f80ced0ea740516c3d4c57ba4a7805dd

,Seq.,Cód.,Descrição,UN,Marca,Qtde.,Unitário,Total
0,1,21196,ACIDO URICO LIQUIFORM \n100 ML LINEARIDADE 20 ...,UN,VIDA 80785070002,36,"24,90","R$896,40"
1,2,16853,"AGULHA HIPODERMICA \nDESCARTÁVEL 20 X 5,5 - \n...",UN,SOLIDOR \n10369460190,50,"13,50","R$675,00"
2,3,640,"AGULHA PARA COLETA DE \nSANGUE, PARA COLETA \n...",CX,GT 80474870054,36,"61,00","R$2.196,00"
3,6,22389,BANDAGEM (ADESIVO) \nADULTO BLOOD STOP - CX \n...,CX,ARATOP \n80116229001,12,"16,50","R$198,00"
4,7,21206,COLESTEROL Liquiform \n2/100 ml Linearidade: 5...,UN,VIDA 80785070014,36,"38,90","R$1.400,40"
5,8,22388,COLETOR PARA \nFEZES/URINA \nPOLIPROPILENO \nT...,PCT,FIRST LAB \n81628880002,36,"47,60","R$1.713,60"
6,9,21257,CONJUNTO COLORAÇÃO \nGRAM 4 X 500ML,UN,RENYLAB \n80002670066,2,"62,00","R$124,00"
7,12,21209,FOSFATASE ALCALINA \nLIQUIFORM 4/30ml,UN,VIDA 100ML \n80785070035,12,"39,00","R$468,00"
8,13,22371,FRASCO POLIETILENO \nGRADUADO 2000ML PARA \nCO...,UN,CRAL \n10379860088,12,"4,55","R$54,60"
9,16,21223,HBsAg C/25 TIRAS,UN,BIOCON \n80638720084,36,"89,00","R$3.204,00"
10,18,21221,HIV 1/2 TESTE KIT C/25 \nTESTES,UN,VIDA 80785070065,36,"100,00","R$3.600,00"
11,21,21342,LAMINA K-CELL CX PARA \nCONTAGEM DE \nSEDIMENT...,CX,PRECISIO GLASS \nISENTO DE \nREGISTRO,6,"324,45","R$1.946,70"
12,22,6986,"LUVA DE PROCEDIMENTO, \nTAMANHO MÉDIO, CAIXA \...",UN,NUGARD ISENTO \nDE REGISTRO,12,"55,00","R$660,00"
13,23,22373,MICROPIPETA \nMONOCANAL COM EJETOR \nAUTOMÁTIC...,UN,PEGUEPET \nISENTO DE \nREGISTRO,2,"140,00","R$280,00"
14,24,22377,MICROPIPETA \nMONOCANAL COM EJETOR \nAUTOMÁTIC...,UN,PEGUEPET \nISENTO DE \nREGISTRO,2,"140,00","R$280,00"
15,25,22372,MICROPIPETA \nMONOCANAL COM EJETOR \nAUTOMÁTIC...,UN,PEGUEPET \nISENTO DE \nREGISTRO,2,"140,00","R$280,00"
16,26,22380,MICROPIPETA,UN,PEGUEPET,2,"140,00","R$280,00"
17,,,MONOCANAL COM EJETOR \nAUTOMÁTICO DE \nPONTEIR...,,ISENTO DE \nREGISTRO,,,
18,27,22376,MICROPIPETA \nMONOCANAL COM EJETOR \nAUTOMÁTIC...,UN,PEGUEPET \nISENTO DE \nREGISTRO,2,"140,00","R$280,00"
19,28,22379,MICROPIPETA \nMONOCANAL COM EJETOR \nAUTOMÁTIC...,UN,PEGUEPET \nISENTO DE \nREGISTRO,2,"140,00","R$280,00"
20,29,22378,MICROPIPETA \nMONOCANAL COM EJETOR \nAUTOMÁTIC...,UN,PEGUEPET \nISENTO DE \nREGISTRO,2,"140,00","R$280,00"
21,30,22374,MICROPIPETA \nMONOCANAL COM EJETOR \nAUTOMÁTIC...,UN,PEGUEPET \nISENTO DE \nREGISTRO,2,"140,00","R$280,00"
22,31,17099,MIF MODIFICADO 1000ML,UN,RENYLAB \n80002670084,8,"28,00","R$224,00"
23,32,21367,ÓLEO DE IMERSÃO PARA \nMICROSCOPIA 100 ML,UN,RENYLAB \nISENTO DE \nREGISTRO,1,"21,80","R$21,80"
24,34,21370,PIPETA GRADUADA DE \nVIDRO 10 ML,UN,PRECISION \nGLASS ISENTO \nDE REGISTRO,4,"4,41","R$17,64"
25,35,21368,PIPETA GRADUADA DE \nVIDRO 1ML,UN,PRECISION \nGLASS ISENTO \nDE REGISTRO,4,"4,41","R$17,64"
26,36,21371,PIPETA GRADUADA DE \nVIDRO 5ML,UN,PRECISION \nGLASS ISENTO \nDE REGISTRO,4,"4,41","R$17,64"
27,37,22382,PIPETA \nPASTEURGRADUADA \nDESCARTAVEL 3ML,UN,PEGUEPET \nISENTO DE \nREGISTRO,500,"51,00","R$25.500,00"
28,38,21343,PONTEIRA AMARELA,CX,CRAL ISENTO DE,42,"16,00","R$672,00"
29,,,UNIVERSAL DE 0 A 200 UL \nPACOTE COM 1000 UND,,REGISTRO,,,
30,39,21344,PONTEIRA AZUL \nUNIVERSAL 200 A 1000 UL \nPACO...,CX,CRAL ISENTO DE \nREGISTRO,24,"40,00","R$960,00"
31,41,21253,SORO ANTI A 10 ML,UN,IMUNOSCAN \n81034870004,2,"31,00","R$62,00"
32,42,21254,SORO ANTI B 10 ML,UN,IMUNOSCAN \n81034870004,2,"31,00","R$62,00"
33,43,21255,SORO ANTI D 10 ML,UN,IMUNOSCAN \n81034870006,2,"62,00","R$124,00"
34,45,21250,Tiras-teste para a determinação \nsemiquantita...,UN,BIOCON \n80638720016,40,"16,00","R$640,00"
35,47,22383,TUBO À VÁCUO (CITRATO) \nTAMPA AZUL 2ML CX C/ ...,UN,GT 80474870052,4,"49,00","R$196,00"
36,48,22384,TUBO À VÁCUO (EDTA) \nTAMPA ROXA 2ML CX C/ 50 ...,UN,GT 80474870052,6,"41,00","R$246,00"
37,49,21341,TUBO À VÁCUO (SORO) \nTAMPA VERMELHA 4ML \nCX ...,UN,GT 80474870052,5,"41,00","R$2.050,00"
38,50,21339,TUBO À VÁCUO (SORO) \nTAMPA VERMELHA 8ML \nCX ...,UN,GT 80474870052,6,"68,00","R$408,00"
39,51,22387,TUBO DE PLÁSTICO \nCÔNICO GRADUADO 15ML \nPARA...,PCT,GLOBAL ISENTO \nDE REGISTRO,2,"15,0","R$30,00"
40,52,22386,TUBO DE VIDRO \nBOROSSILICATO 12X75MM \n- 5ML ...,UN,GT - 80474870052,6,"36,00","R$216,00"
41,53,21218,UREIA UV liquiform 4x50 ml \nLinearidade: 300 ...,UN,VIDA 80785070015,36,"70,00","R$2.520,00"
42,54,21252,VDRL PRONTO USO 10 ML \nCOM CONTROLE 500,UN,LABORCLIN \n10097010010,6,"130,00","R$780,00"

4d6035bf3212568e336fe0ab7d9fb215

,Participante,CPF/CNPJ,Representante,Documento \nRepresentante
0,LUDMILA APARECIDA \nDE SOUZA,27.054.061/0001-98,ALEX JUNIO \nSILVA,15.587.622
1,INFORMÁTICA VIANNA \nVIEIRA LTDA ME,13.543.700/0001-74,JOAQUIM VIEIRA \nJUNIOR,MG 10.559.190
2,IZADORA CARDOSO DE \nLIMA SILVA \nCPF11518284671,12.293.982/0001-36,EMANOEL \nFROGERI DA \nSILVA,MG 12.122.143

08b43f26baa37068d9128b9b248c1c6b

,Participante,CPF/CNPJ,Representante,Documento \nRepresentante
0,MAPFRE SEGUROS GERAIS \nS.A.,61.074.175/0001-38,RENATO NICOLAU \nTEIXEIRA \nProtocolou os env...,MG - 8.852.495
1,GENTE SEGURADORA SA,90.180.605/0001-02,FELIPE SANTANA \nCUNHA \nPresente na sessão,MG 14.291.861
2,PORTO SEGURO CIA DE \nSEGUROS GERAIS,61.198.164/0001-60,EDUARDO NAVARRA \nPresenta da sessão,M 3.692.773

c43945c062d0e37751d8850ec2c94f7c
c7d2371dbc67b51c8e350e03d0c46b8a

,Seq.,Cód.,Descrição,UN,Marca,Qtde.,Unitário,Total
0,4,21198,ALT GPT LIQUIFORM 30 ML COM \nPIRIDOXAL FOSFAT...,UN,BIOTÉCNICA,36,"16,55","R$595,80"
1,5,21199,AST GOT LIQUIFORM 30 ML COM \nPIRIDOXAL FOSFAT...,UN,BIOTÉCNICA,36,"16,55","R$595,80"
2,10,22367,CREATININA 1 X 250ML \nLINEARIDADE 8MG/DL,UN,BIOTÉCNICA,36,"32,00","R$1.152,00"
3,11,21258,"FATOR REUMATOIDE 2,5 ML 100 \nTESTES",UN,BIOTÉCNICA,10,"21,90","R$219,00"
4,14,21225,GAMA GT LIQUIFORM 2/30 ML \nLINEARIDADE: 700 U/L,UN,BIOTÉCNICA,36,"48,00","R$1.728,00"
5,15,21211,GLICOSE LIQUIFORM 1/500 ML \nLINEARIDADE: 500 ...,UN,BIOTÉCNICA,36,"34,00","R$1.224,00"
6,17,21222,HCG 25 MUI 50 TIRAS,UN,BIOTÉCNICA,36,"17,00","R$612,00"
7,19,22364,"KIT ANTI-ESTREPTOLISINA O \nLATEX 2,5ML, MÉTOD...",UN,BIOTÉCNICA,10,"23,00","R$230,00"
8,20,14165,KIT COLESTEROL HDL \nPRECIPITANTE 1 X 25ML,UN,BIOTÉCNICA,36,"10,00","R$360,00"
9,33,21251,"PCR COM CONTROLES, 100 \nTESTES",UN,BIOTÉCNICA,8,"23,00","R$184,00"
10,40,22368,SANGUE OCULTO NAS FESES SEM \nDIETA 20 TESTES,CX,BIOTÉCNICA,36,"48,00","R$1.728,00"
11,44,1719,"SORO CONTROLE NORMAL \nLIOFILIZADO, \nMULTIPAR...",CX,BIOTÉCNICA,6,"44,00","R$264,00"
12,46,21217,TRIGLICERIDES LIQUIFORM \n2X100 ML LINEARIDADE...,UN,BIOTÉCNICA,36,"91,00","R$3.276,00"

,Código da Dotação,Reduzido,Descrição
0,02.07.01-3390.30.00-10.301.0210-,,MANUTENCÃO PROGRAMAS DE ATENDIMENTO

Empty DataFrame
Columns: [184]
Index: []

580e6393365c2957e221de56844dd011

,Participante,CPF/CNPJ,Representante,Documento
0,EXPERTS INFORMÁTICA \nEIRELI,00.349.280/0001-48,DAVI GOMES DE \nSOUZA,M 6.071.763
1,COPYUAI COMERCIO DE \nMAQUINAS LTDA . ME,05.691.235/0001-90,EVALDO JOSÉ DE \nOLIVEIRA,M 6.798.858
2,DANIEL FROGERI DA SILVA \nCPF 122.338.256-75,14.569.566/0001-43,EMANOEL FROGERI \nDA SILVA,MG 12.122.143

275acd244d5791013bd8f4b3243a4a1a

,Seq.,Item,Descrição,UN,Marca,Quantidade,Unitário,Total
0,1,22042,BISCOITO DE \nPOLVILHO - DOCE,KG,,"1.000,0000","18,0000","18.000,00"
1,2,22041,BISCOITO DE \nPOLVILHO - SALGADO,KG,,"2.000,0000","19,9900","39.980,00"
2,3,22043,BOLO CASEIRO - \nISENTO DE LEITE - \nVARIOS SA...,UN,,"200,0000","3,9900","798,00"
3,4,22044,BOLO CASEIRO - \nVARIOS SABORES,UN,,"800,0000","5,8900","4.712,00"
4,5,22040,PÃO DE DOCE,UN,,"15.000,0000","0,5500","8.250,00"
5,6,22045,PÃO DE QUEIJO PEQ.,KG,,"500,0000","19,8900","9.945,00"
6,7,22037,PÃO FRANCÊS 25 \nGRAMAS,KG,,"2.000,0000","7,6000","15.200,00"
7,8,22036,PÃO FRANCÊS 50 \nGRAMAS,KG,,"4.000,0000","7,6000","30.400,00"
8,9,22038,ROSCA TIPO TRANÇA \n500G COM RECHEIO,UN,,"500,0000","5,9500","2.975,00"
9,10,22039,ROSCA TIPO TRANÇA \n500G SEM RECHEIO,UN,,"300,0000","3,9500","1.185,00"

2309298b1878b216dca666aba446a4cd
85c1a53d38e9f0128f437554523bf87c
a58ad8575985794e945075b9955f6823

,Participante,CPF/CNPJ,Representante,Documento \nRepresentante
0,S.B. DE CASTRO,10.218.872/0001-\n84,Sebastião Brasileiro de \nCastro,M5405918
1,SUPERMERCADO SÃO \nBENTO ABADE LTDA,29.783.102/0001-\n02,Pedro Paulo Inaácio,791184

9fc40f9997abab8da10a91416d645a05
**** passa-vinte ****
7e0a1d03c293b71a0e72c76bd333f7fe

Empty DataFrame
Columns: [Lote 1 - CH. RECORTADA ³/8 300 X 300]
Index: []

,Código,Nome Prod/Serv,Unidade,Quantidade,Valor,Total,% Econ.,Marca
0,35864,CH. RECORTADA ³/8 300 X\n300,PC,"36,0000",68.0000,2448.00000000,"27,85%",-

                      Total Lote R$ 2.448,00
0  Lote 4 - ELETRODO WELD (ESAB) 6013 2,50MM

,Código,Nome Prod/Serv,Unidade,Quantidade,Valor,Total,% Econ.,Marca
0,35855,"ELETRODO WELD (ESAB)\n6013 2,50MM",KG,"300,0000",11.9000,3570.00000000,"16,88%",-

                              Total Lote R$ 3.570,00
0  Lote 5 - Malha POP 2x3m Espaçamento 15x15cm - ...

,Código,Nome Prod/Serv,Unidade,Quantidade,Valor,Total,% Econ.,Marca
0,36305,Malha POP 2x3m\nEspaçamento 15x15cm -\nEspessu...,UNID,"10.130,0000",48.5000,491305.00000000,"5,93%",-

                            Total Lote R$ 491.305,00
0  Lote 6 - Malha POP 2x3m Espaçamento 20x20cm - ...

,Código,Nome Prod/Serv,Unidade,Quantidade,Valor,Total,% Econ.,Marca
0,36306,Malha POP 2x3m\nEspaçamento 20x20cm -\nEspessu...,Unidades,"10.130,0000",23.0000,232990.00000000,"9,20%",-

                            Total Lote R$ 232.990,00
0  Lote 7 - Malha Pop 3x2m Espaçamento 10x10cm. E...

,Código,Nome Prod/Serv,Unidade,Quantidade,Valor,Total,% Econ.,Marca
0,36304,Malha Pop 3x2m\nEspaçamento 10x10cm.\nEspessur...,UNID,"10.130,0000",68.0000,688840.00000000,"8,31%",-

                      Total Lote R$ 688.840,00
0  Lote 14 - VIGAU ENRIJECIDA 3" X 2,65 X 6000

,Código,Nome Prod/Serv,Unidade,Quantidade,Valor,Total,% Econ.,Marca
0,35861,"VIGAU ENRIJECIDA 3"" X\n2,65 X 6000",PC,"400,0000",82.9000,33160.00000000,"14,34%",-

Empty DataFrame
Columns: [Total Lote R$ 33.160,00]
Index: []

Empty DataFrame
Columns: [35863, ZARCAO ZARCOMAX CINZA, GL, 10,0000, 114.5000, 1145.00000000, 0,69%]
Index: []

848d2567bf35652321bade880bd5561e
8966befe922f586c17fb62243f0119d3
5ba3e9d87f8d70702c552c95e95520c0

Empty DataFrame
Columns: [Lote 1 - AQUISIÇÃO DE UM VEICULO  TIPO PASSEIO, QUATRO PORTAS, ZERO QUILOMETRO; ANO DE FABRICAÇÃO]
Index: []

,Código,Nome Prod/Serv,Unidade,Quantidade,Valor,Total,% Econ.,Marca
0,211413\n0414,"AQUISIÇÃO DE UM\nVEICULO TIPO PASSEIO,\nQUATR...",UNID,"1,0000",49500.0000,49500.00000000,"6,63%",SANDERO 1.0

**** coqueiral ****
1c4dec7f2fcfda38665e661919e0b124

  Marca \n Bandeira    Qtde. Unidade        Descrição Valor \nUnitário \n(R$)
0          Rede Sol  150.000  Litros   Gasolina Comum                 R$ 4,91
1          Rede Sol  200.000  Litros  Óleo Diesel S10                 R$ 3,95

6aa821e1e916cac34caf106284ff38b8

,Item,Descrição,Unid.,Quant.,Valor \nUnitário,Valor \nTotal
0,01,EQUIPAMENTO DE ULTRASSOM: \n \nEquipamento tr...,Unid.,01,"R$ 77.000,00","R$ 77.000,00"
1,,equipamento. Tensão de acordo com \na entidade...,,,,

f459131d918482cde60e72cf7740a203

Empty DataFrame
Columns: [Lote, ESPECIFICAÇÃO, Quant.
Horas, Valor
Unitário, Valor Total]
Index: []

Empty DataFrame
Columns: [01, VEÍCULOS LEVES DA MARCA FIAT
Veículos: uno, mobi, fiorino, doblo, palio, ducato, fiat strada e siena]
Index: []

Empty DataFrame
Columns: [01.1, Serviços  Mecânicos  em  geral,  tapeçaria,  sistema  de  ar
condicionado, caixa de câmbio e outros de natureza afim da
Marca FIAT, 180 H, R$ 75,00, R$ 7.500,00]
Index: []

Empty DataFrame
Columns: [01.2, Tabela de Catalogo de Peças / Acessórios Marca FIAT, 35,00 %]
Index: []

Empty DataFrame
Columns: [12, VEÍCULOS PESADOS DA MARCA IVECO
Veículos: Ônibus, micro-ônibus, caminhão]
Index: []

Empty DataFrame
Columns: [12.1, Serviços  Mecânicos  em  geral,  tapeçaria,  sistema  de  ar
condicionado, caixa de câmbio e outros de natureza afim da
Marca IVECO, 100 H, R$ 60,00, R$ 10.800,00]
Index: []

Empty DataFrame
Columns: [12.2, Tabela de Catalogo de Peças / Acessórios Marca IVECO, 32,00 %]
Index: []

                Total Geral VHT  R$ 18.300,00
0  Total Geral Estimado Tabelas  R$ 65.000,00
1    Total Geral do Instrumento  R$ 83.300,00

42eb53256bc641a61e1f6978d81b3869

,Seq.,Item,Descrição,UN,Marca,Quantidade,Unitário,Total
0,9,14156,MÁSCARA N95 - PFF2,UN,BETANIAMED \nMODELO \nKN95,"249,0000","2,7000","672,30"

Empty DataFrame
Columns: [Total Geral, ]
Index: []

db1a383dc25f181e3cb87d09da74f2ed

  Seq.   Item Descrição  UN                Marca Quantidade Unitário     Total
0    3  13546    CAPOTE  UN  CONFECÇÃO \nPRÓPRIA   200,0000   5,4400  1.088,00

Empty DataFrame
Columns: [Total Geral, R$ 1.088,00]
Index: []

48f1e627f82574cf25578c815da4637b

,Seq.,Item,Descrição,UN,Marca,Quantidade,Unitário,Total
0,2,14014,BOIA DE PLÁSTICO 20MM,UN,amanco,"15,0000","8,0000","120,00"
1,3,14015,BOIA DE PLÁSTICO 25MM,UN,astra,"15,0000","8,7000","130,50"
2,4,7765,CAIXA DE DESCARGA PVC COM \nPARAFUSO DE FIXAÇÃO,UN,astra,"10,0000","30,0000","300,00"
3,18,14032,CURVA 50MM PVC MARROM,UN,plastilit,"5,0000","9,0000","45,00"
4,23,14024,CURVA LONGA 45° BRANCA PVC \n100MM,UN,plastilit,"5,0000","20,0000","100,00"
5,55,14046,LUVA LR 20MM AZUL DE PVC,UN,plastilit,"10,0000","2,8000","28,00"
6,57,14058,LUVA MARROM 50MM PVC,UN,plastilit,"10,0000","2,0000","20,00"
7,101,14091,TÊ DE 50MM PVC BRANCO,UN,plastilit,"10,0000","3,0000","30,00"
8,102,14092,TÊ DE REDUÇÃO SOLDÁVEL \n25X20MM,UN,plastilit,"5,0000","1,8000","9,00"
9,115,14106,TUBO CLASSE A 100MM EM PVC \nBRANCO - 6 METROS,BR,plastilit,"20,0000","48,0000","960,00"
10,116,14107,TUBO CLASSE A 40MM EM PVC \nBRANCO - 6 METROS,BR,plastilit,"10,0000","19,0000","190,00"
11,117,14108,TUBO CLASSE A 50MM EM PVC \nBRANCO - 6 METROS,BR,plastilit,"10,0000","32,0000","320,00"
12,121,14111,TUBO DE PVC MARROM 25MM \nSOLDÁVEL - 6 METROS,BR,plastilit,"20,0000","13,0000","260,00"
13,122,14112,TUBO DE PVC MARROM 50MM \nSOLDÁVEL - 6METROS,BR,plastilit,"10,0000","52,0000","520,00"
14,123,14113,TUBO PVC 25MM SOLDÁVEL - 6 \nMETROS,BR,plastilit,"10,0000","13,0000","130,00"
15,124,14114,TUBO PVC SOLDÁVEL 20MM - 6 \nMETROS,BR,plastilit,"20,0000","11,0000","220,00"
16,125,14116,TUBO PVC SOLDÁVEL 50MM - 6 \nMETROS,BR,plastilit,"10,0000","52,0000","520,00"
17,129,7477,VÁLVULA PARA LAVATÓRIO,UN,astra,"10,0000","6,3000","63,00"

Empty DataFrame
Columns: [Total Geral, R$ 3.965,50]
Index: []

          Secretarias                               Função Reduzido      Fonte
0  Educação e Cultura  02.04. 12.122.0052.2.035 3390.30.00      125        101
1                      02.04. 12.361.0403.2.066.3390.30.00      170        101
2                      02.04. 12.361.0018.2.116 4490.30.00      141  101 e 122
3                      02.04. 12.365.0018.1.015 4490.30.00      209   101e 122
4                      02.04. 12.365.0403.2.068.3390.30.00      232        101
5                                                     None     None       None

  Ação Social  02.05. 08.122.0052.2.033 3390.30.00   288        129
0              02.05. 08.243.0122.4.035.3390.30.00   307        100
1              02.05. 08.243.0123.2.043 3390.30.00   324        156
2              02.05. 08.244.0125.2.044 3390.30.00   336  100 e 129
3                                             None  None       None

,Saúde,02.06. 10.301.0005.4.006 3390.30.00,374,102 e 155 e \n159
0,,02.06. 10.301.0005.4.023 3390.30.00,386,159
1,,02.06. 10.301.0005.4.027.3390.30.00,398,102
2,,02.06. 10.301.0005.3.027.3390.30.00,412,159
3,,02.06.10.302.0016.4.005 3390.30.00,432,102
4,,02.06. 10.304.0007.4.003 3390.30.00,465,102
5,Obras Públicas e \nAgricultura,02.07. 04.122.0052.3.045 4490.30.00,472,100-124
6,,02.07. 08.244.0515.1.140 3390.30.00,476,100
7,,02.07. 15.122.0052.2.050 3390.30.00,485,100
8,,02.07.15.122.0052.2.050.4490.52.00,490,100
9,,02.07. 15.451.0507.1.137 4490.30.00,496,100
10,,02.07. 15.452.0014.2.052 3390.30.00,499,100
11,,02.07.15.452.0505.2.054 3390.30.00,514,100
12,,None,None,None

  Esporte  02.03. 27.812.0720.2.030.3390.30.00   089   100
0          02.03. 27.812.0720.2.031.3390.30.00   100   100
1          02.03. 27.812.0720.2.062.3390.30.00   106   100
2          02.03. 27.813.0473.2.086.3390.30.00   675   100
3                                         None  None  None

** ERRO ** 4 columns passed, passed data had 1 columns
** TABELA ** [['Gabinete e Assessorias', '02.01.04.122.0052.2.003.3390.30.00', '23', '100'], ['']]

  Planejamento e Finanças  02.02.04.122.0052.2.015.3390.30.00  52  100
0                          02.04.06.181.0102.2.018.3390.30.00  62  100

747efd2fb6d3d9c25da8e73c85cfd3ac

,Seq.,Item,Descrição,UN,Marca,Quantidade,Unitário,Total
0,23,12452,CANETA ESFEROGRÁFICA 0.8 MM \nCRISTAL FINA - C...,CX,compactor,"5,0000","27,3000","136,50"
1,24,12451,CANETA ESFEROGRÁFICA 0.8 MM \nCRISTAL FINA - C...,CX,compactor,"5,0000","27,3000","136,50"
2,25,14257,"CANETA ESFEROGRÁFICA 0.8, \nPONTA FINA, CORPO ...",CX,bic,"15,0000","28,0000","420,00"
3,26,12647,"CANETA ESFEROGRÁFICA, TINTA \nVERMELHA, INVÓLU...",CX,bic,"3,0000","28,0000","84,00"
4,30,10294,CANETA RETROPROJETOR PONTA \nFINA PRETA,UN,jocar,"11,0000","2,7600","30,36"
5,34,12457,"CARTOLINA BRANCA 50X66, \nPACOTE COM 100 FOLHA...",PCT,brasil \npaper,"67,0000","43,5000","2.914,50"
6,69,12476,EVA AMARELA 40X60,UN,dub flex,"522,0000","1,1200","584,64"
7,70,12470,EVA AZUL 40X60,UN,dub flex,"522,0000","1,1200","584,64"
8,71,12477,EVA BEGE 40X60,UN,dub flex,"520,0000","1,1200","582,40"
9,72,12474,EVA BRANCA 40X60,UN,dub flex,"520,0000","1,1200","582,40"
10,102,12475,EVA LARANJA 40X60,UN,dub flex,"120,0000","1,1200","134,40"
11,103,12473,EVA LILÁS 40X60,UN,dub flex,"120,0000","1,1200","134,40"
12,104,12472,EVA MARRON 40X60,UN,dub flex,"123,0000","1,1200","137,76"
13,105,12471,EVA PRETO 40X60,UN,dub flex,"120,0000","1,1200","134,40"
14,106,6945,"EVA VERDE, 40X60",UN,dub flex,"122,0000","1,1200","136,64"
15,107,12469,EVA VERMELHO 40X60,UN,dub flex,"102,0000","1,1200","114,24"
16,108,12468,"EVA, AMARELO 40X60",UN,dub flex,"120,0000","1,1200","134,40"
17,122,12676,GIZ DE CERA ESTACA NA COR AZUL \nCAIXA COM 12.,CX,pira,"2,0000","2,6100","5,22"
18,131,14287,KIT BASE EM MADEIRA REVESTIDA \nEM LAMINADO NA...,KT,casa das \nbandeiras,"3,0000","318,0000","954,00"
19,136,12511,"LÁPIS PRETO Nº02, CAIXA COM 144 \nUNIDADES",CX,serelepe,"9,0000","30,8000","277,20"
20,201,12541,PINCEL CHATO COM CERDA BRASIL \nBRANCA N° 02,UN,castelo,"80,0000","1,3100","104,80"
21,202,12538,PINCEL CHATO COM CERDA BRASIL \nBRANCA N° 04,UN,castelo,"20,0000","1,6000","32,00"
22,204,12540,PINCEL CHATO COM CERDA BRASIL \nBRANCA N° 08,UN,castelo,"110,0000","1,8900","207,90"
23,205,12544,PINCEL REDONDO COM PELO DE \nMARTA Nº 00,UN,castelo,"80,0000","2,1800","174,40"

Empty DataFrame
Columns: [Total Geral, R$ 8.737,70]
Index: []

  Secretarias                              Função Reduzido           Fonte
0    Educação  02.04.12.122.0052.2.035 3390.30.00      125             101
1              02.04.12.361.0403.2.066.3390.30.00      170  101, 147 e 247

Empty DataFrame
Columns: [02.04.12.365.0403.2.068.3390.30.00  232  101, 147 e 247]
Index: []

  Ação Social  02.05.08.122.0052.2.033 3390.30.00  288 129 e 299
0              02.05.08.243.0123.2.040.3390.30.00  316       129

Empty DataFrame
Columns: [02.05.08.244.0125.2.044 3390.30.00  336  129 e 229]
Index: []

,Saúde,02.06.10.122.0013.4.008.3390.30.00,360,102
0,,02.06.10.301.0005.4.006 3390.30.00,374,"102, 159 e 259"
1,,02.06.10.301.0005.4.028.3390.30.00,407,159
2,,02.06.10.303.0007.4.004.3390.30.00,458,159
3,,02.06.10.301.0005.4.006.4490.52.00,658,259
4,Obras Públicas e,02.07. 15.122.0052.2.050 3390.30.00,485,100

Empty DataFrame
Columns: [Agricultura]
Index: []

Empty DataFrame
Columns: [Cultura, Esporte e Turismo, 02.03.13.391.0474.2.074.3390.30.00, 709, 100]
Index: []

        02.03.13.392.0473.2.077.3390.30.00  695  100
0  Gabinete e Assessorias  02.01.04.122.0052.2.00...

933ba4fa37a19c3b37971fadcfd8752e

,Seq.,Item,Descrição,UN,Marca,Quantidade,Unitário,Total
0,1,13048,FILME RADIOGRÁFICO \nIMPRESSORA DE FILME DRY \...,CX,,"10,0000","410,0000","4.100,00"
1,2,13049,FILME RADIOGRÁFICO \nIMPRESSORA DE FILME DRY \...,CX,,"10,0000","770,0000","7.700,00"

Empty DataFrame
Columns: [Total Geral, R$ 11.800,00]
Index: []

9b0b62c6d4be49cedf64dfa5aedac04b

,Solicitação,Código,Descrição,Quantidade,Unitário,Total
0,166,11207,"AGULHA HIPODÉRMICA 13X4,5","12.000,0000","0,0500","600,00"
1,166,11242,"AGULHA HIPODÉRMICA 20X5,5","4.000,0000","0,0500","200,00"
2,166,11243,AGULHA HIPODÉRMICA 25X6,"4.000,0000","0,0500","200,00"
3,166,11210,AGULHA HIPODÉRMICA 25X7,"5.500,0000","0,0500","275,00"
4,166,11211,AGULHA HIPODÉRMICA 25X8,"4.000,0000","0,0500","200,00"
5,166,11212,AGULHA HIPODÉRMICA 40X12,"5.500,0000","0,0600","330,00"
6,166,8871,BANDEIJA RETANGULAR,"2,0000","43,0000","86,00"
7,166,5999,CATETER P/ OXIGÊNIO TIPO ÓCULOS,"830,0000","0,6600","547,80"
8,166,2609,"COMPRESSA DE GAZE 13 FIOS 7,5X7,5 CM","650,0000","11,4000","7.410,00"
9,166,2608,CUBA RIM 26X12X6CM,"2,0000","35,8000","71,60"
10,166,11205,EQUIPO PARA NUTRIÇÃO ENTERAL,"80,0000","0,9300","74,40"
11,166,11240,"FITA MICROPORE 5X4,5CM","50,0000","2,9800","149,00"
12,166,11218,GEL CONDUTOR INCOLOR PARA ULTRASSON/ ELETROCAR...,"L 60,0000","3,9000","234,00"
13,166,6998,KIT PARA COLETA DE EXAME PAPANICOLAU TAMANHO M,"1.200,0000","1,5500","1.860,00"
14,166,9086,KIT PARA COLETA DE EXAME PAPANICOLAU TAMANHO P,"500,0000","1,4500","725,00"
15,166,1399,LENÇOL HOSPITALAR DE PAPEL DE 70 CM X 50 MT,"50,0000","5,6500","282,50"
16,166,11194,LUVAS DE LÁTEX PARA PROCEDIMENTO TAM M,"250,0000","17,2000","4.300,00"
17,166,6512,PAPEL TERMOSENSÍVEL PARA ECG,"90,0000","19,4000","1.746,00"
18,166,11225,REGULADOR DE OXIGÊNIO COM FLUXÔMETRO 0-15,"4,0000","315,0000","1.260,00"
19,166,6385,RINGER LACTATO 500 ML,"300,0000","2,5000","750,00"
20,166,11222,SERINGA DESCARTÁVEL 10ML,"2.300,0000","0,2200","506,00"
21,166,2768,SERINGA DESCARTÁVEL 20ML,"2.200,0000","0,3390","745,80"
22,166,11223,SERINGA DESCARTÁVEL 3ML,"12.600,0000","0,1200","1.512,00"
23,166,2766,SERINGA DESCARTÁVEL 5ML,"3.000,0000","0,1200","360,00"
24,166,2668,Sonda asp. Traqueal nº 18,"20,0000","0,5700","11,40"
25,166,2677,Sonda Nasogástrica nº08 longa,"100,0000","0,6190","61,90"
26,166,2679,Sonda nasogástrica nº10 longa,"100,0000","0,6390","63,90"
27,166,2682,Sonda Nasogástrica nº12 longa,"100,0000","0,5400","54,00"
28,166,11169,SONDA URETRAL Nº22,"100,0000","0,6700","67,00"
29,166,9195,Sonda Vesical de demora nº 10,"25,0000","3,4600","86,50"

Empty DataFrame
Columns: [166 11172, SONDA VESICAL DE DEMORA Nº 24 20,0000 2,8600 57,20]
Index: []

7e37c242d98240af4deeab78518fc9e6

,Item,Descrição,Quant.,Und.,Marca,Vl. Unit.,Vl. Total
0,1,MESA GINECOLÓGICA - Mesa ginecológica \ncomn a...,"1,00",UN,SANTA LUZIA,"R$ 830,00","R$ 830,00"
1,,Com espuma D23 revestido em curvim \nlavável \...,,,,,
2,8,BALANÇA ANTROPOMÉTRICA DIGITAL \nADULTO - modo...,"1,00",UN,BALMAK,"R$ 985,00","R$ 985,00"
3,9,BALANÇA ANTROPOMÉTRICA DIGITAL \nINFANTIL - mo...,"1,00",UN,WELMY,"R$ 635,00","R$ 635,00"
4,11,CADEIRA DE RODAS ADULTO - material de \nconfec...,"3,00",UN,CDS/101/102,"R$ 412,00","R$ 1.236,00"
5,19,ESFIGNOMANÔMETRO ADULTO - material \nde confec...,"4,00",UN,PA MED,"R$ 73,00","R$ 292,00"
6,20,ESFIGNOMANÔMETRO INFANTIL - material \nde conf...,"2,00",UN,PA MED,"R$ 73,00","R$ 146,00"
7,21,ESFIGNOMANÔMETRO OBESO - material de \nconfecç...,"3,00",UN,PA MED,"R$ 82,00","R$ 246,000"
8,22,ESTETOSCÓPIO INFANTIL - auscultador aço \ninox...,"3,00",UN,MD,"R$ 57,00","R$ 171,00"
9,23,LIXEIRA 11-20 L - material de confecção \naço/...,"1,00",UN,MR,"R$ 113,00","R$ 113,00"
10,26,MESA AUXILIAR DE AÇO - dimensões : 40 x \n40 x...,"1,00",UN,SANTA LUZIA,"R$ 407,00","R4 407,00"
11,27,MESA DE EXAMES - unidades material de \nconfec...,"5,00",UN,SANTA LUZIA,"R$ 900,00","R$ 4.500,00"
12,31,NEBULIZADOR 4 SAÍDAS - tipo compressor \n;4 sa...,"1,00",UN,OLIDEF,"R$ 1.660,00","R$ 1.660,00"
13,32,NEBULIZADOR PORTÁTIL 1 SAÍDA - ; tipo \nultras...,"2,00",UN,NS,"R$ 199,00","R$ 398,00"

42ee4c843a96a0d768ff5a477acf5992

,Item,Descrição,Quant.,Und.,Marca,Vl. Unit.,Vl. Total
0,3,GARRAFÃO TÉRMICO - 5 LITROS - \nPLÁSTICO,06,UN,ALADIN,"R$ 30,00","R$ 180,00"
1,5,LUVA DE PANO PIGMENTADA \nTAMANHO ÚNICO,50,PR,VOLK,"R$ 2,90","R$ 145,00"
2,6,MANGUEIRA DE 1/2 POLEGADA,100,MT,TRAMONTINA,"R$ 3,90","R$ 390,00"
3,,REFORÇADA JARDIM SILICONADA \nFLEXÍVEL COM KIT...,,,,,
4,8,"MOTOSSERRA - MOTOR: CILINDRADA: \n61,5CM³ / 3,...",01,UN,KAWASHIMA,"R$ 990,00","R$ 990,00"
5,9,PERNEIRA SINTÉTICA,06,PR,MARSEG,"R$ 18,50","R$ 111,00"
6,10,PULVERIZADOR COSTAL MANUAL 20 \nLITROS,03,UN,DO CAMPO,"R$ 165,00","R$ 495,00"
7,12,ROÇADEIRA MULTIFUNCIONAL LATERAL \n5 EM 1 - ...,01,UN,KAWASHIMA,"R$ 1.220,00","R$ 1.220,00"
8,14,"SOPRADOR MANUAL 1HP 27,2CC BG56 \nÀ GASOLINA",02,UN,KAWASHIMA,"R$ 830,00","R$ 1.660,00"

9b031c8b2f8aba5994af276f9507c9c1
795030e4733503b546ca971e1d8ecebb
2ba108ce36bf3fe2a98daa28419232e3
940a3ab677d4c027a3739522dcdaf42b

,Seq,Item,Descrição,UN,Marca,Quantidade,Unitário,Total
0,2,1430\n5,BICA CORRIDA - ND,TO\nN,viver \nminas,"1.000,0000","60,0000","60.000,00"
1,6,1430\n8,ESCOVA DE AÇO COM CABO -,UN,loyal,"20,0000","8,3000","166,00"
2,13,1431\n4,PARAFUSOS PARA TELHAS ONDA \nLARGA DE AMIANTO-...,PCT,unifort,"5,0000","75,0000","375,00"
3,14,1200\n7,PISO CERÂMICO PEI-5 50X50 -,M2,cecafi,"2.000,0000","21,0000","42.000,00"
4,17,1431\n8,"TELHAS FIBROCIMENTO- ONDA \nLARGA 2,44 X 1,10 ...",UN,confibra,"500,0000","46,0000","23.000,00"

Empty DataFrame
Columns: [Total Geral, R$ 125.541,00]
Index: []

          Secretarias                               Função Reduzido      Fonte
0  Educação e Cultura  02.04. 12.122.0052.2.035 3390.30.00      125        101
1                      02.04. 12.361.0018.2.116 4490.30.00      141  101 e 122
2                      02.04. 12.365.0018.1.015 4490.30.00      209   101e 122
3                      02.04. 13.392.0473.2.002 3390.30.00      271        100

Empty DataFrame
Columns: [02.04. 13.392.0473.1.136 4490.30.00   279  100 e 124]
Index: []

Empty DataFrame
Columns: [Ação Social, 02.05. 08.122.0052.2.033 3390.30.00, 288, 129]
Index: []

Empty DataFrame
Columns: [02.05 08.243.0123.2.043 3390.30.00, 324, 156]
Index: []

** ERRO ** 4 columns passed, passed data had 1 columns
** TABELA ** [['', '02.05. 08.244.0515.2.048 3390.30.00', '344', '100'], ['']]

,Saúde,02.06. 10.301.0005.4.006 3390.30.00,374,102 e 155 e \n159
0,,02.06. 10.301.0005.4.023 3390.30.00,386,159
1,,02.06.10.302.0016.4.005 3390.30.00,432,102
2,,02.06. 10.303.0007.4.004 3390.30.00,458,155 e 159
3,,02.06. 10.304.0007.4.003 3390.30.00,465,102 e 155 e \n159
4,Obras Públicas e \nAgricultura,02.07. 04.122.0052.3.045 4490.30.00,472,100-124
5,,02.07. 08.244.0515.1.140 3390.30.00,476,100
6,,02.07. 15.122.0052.2.050 3390.30.00,485,100
7,,02.07.15.122.0052.2.050.4490.52.00,490,100
8,,02.07. 15.451.0507.1.137 4490.30.00,496,100
9,,02.07. 15.452.0014.2.052 3390.30.00,499,100
10,,02.07.15.452.0014.2.052.4490.52.00,502,100
11,,02.07. 15.452.0504.2.053 3390.30.00,507,100
12,,02.07.15.452.05.04.2.053.4490.52.00,510,100
13,,02.07.15.452.0505.2.054 3390.30.00,514,100
14,,02.07.26.782.0710.2.024 3390.30.00,592,100
15,,None,None,None

** ERRO ** 4 columns passed, passed data had 1 columns
** TABELA ** [['Esporte', '02.03. 27.812.0720.2.062 3390.30.00', '106', '100'], ['']]
** ERRO ** 4 columns passed, passed data had 1 columns
** TABELA ** [['Gabinete e Assessorias', '02.01.04.122.0052.2.003.3390.30.00', '23', '100'], ['']]

Empty DataFrame
Columns: [Planejamento e Finanças, 02.02.04.122.0052.2.015.3390.30.00, 52, 100]
Index: []

5d3064bda50bd93b9f5f5628e1509116

,ITEM,DESCRIÇÃO,UNIDADE \n(HS),VALOR \nUNITARIO,VALOR TOTAL
0,02,"LOCACAO DE MAQUINA ROLO COMPACTADOR LISO , PE ...",446 HS,"(HORA) \n \n \n \nR$ 94,40","R$ 42.102,40"
1,04,LOCACAO DE CAMINHÃO PIPA COM CAPACIDADE DE 8.0...,48 HS,"R$ 88,90","R$ 4.267,20"

ff48c8fc20d968e4985064b0d0b66bc0
**** cristais ****
499fa518c7724a6e449c509b7d7bc819

                    COMISSÃO PERMANENTE DE LICITAÇÕES
0                             ATA DA DISPENSA 38/2017
1   Aos 26 de julho de 2017, reuniu-se a Comissão ...
2   da comissão de licitação: Mattheus Henrique Ro...
3   de janeiro de 2017 Após procedida avaliação pa...
4   LABORATÓRIO  PARA  REALIZAÇÃO  DO  EXAME  PET ...
5   ONCOLÓGICO, CONFORME PEDIDO MÉDICO EM ANEXO., ...
6   POUSO ALEGRE PETCT DIAGNÓSTICO LTDA. Aberta a ...
7                 POUSO ALEGRE PETCT DIAGNÓSTICO LTDA
8                            CNPJ: 12.980.050/0001-61
9   ENDEREÇO: CIOMARA AMARAL DE PAULA, 140 - JOSÉ ...
10                                          37550-000
11  Seq. Item Descrição Marca UN Qtd. Valor Unitár...

  1 2278 EXAME ONCOLÓGICO PET SCAN -  UN 1  3.300,00 3.300,
0                           Sub Total (R$)  3.300,00

dbd06aba9f943c1dfda6dd3e05f283ee
5a1d3235d4893a0e166fc87b4f30de5b

Empty DataFrame
Columns: [DISA DISTRIBUIDORA SUDOESTE DE AUTOS LTDA CNPJ: 17.889.783/0001-09]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, Aquisição de ambulância simples remoção,, FIAT, UN., 1, 65.520,00, 65.520,00]
Index: []

   0km, branca, destinado à assistência à saúde
0                  conforme convenio 128/2014 –
1           EMG/SES/SUS-MG/FES e o município de
2  Cristais, com as seguintes especificações de
3                         acordo com o convenio

Empty DataFrame
Columns: [Total, 65.520,00]
Index: []

Empty DataFrame
Columns: [ÁGUIA VEÍCULOS E PEÇAS LTDA CNPJ:006.036.371/0001-00]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, Aquisição de ambulância simples remoção,, FIAT, 1, UN., 69.500,00, 69.500,00]
Index: []

   0km, branca, destinado à assistência à saúde
0                  conforme convenio 128/2014 –
1           EMG/SES/SUS-MG/FES e o município de
2  Cristais, com as seguintes especificações de
3                         acordo com o convenio

Empty DataFrame
Columns: [Total, 69.500,00]
Index: []

Empty DataFrame
Columns: [VIAMONDO AUTOMÓVEIS E PEÇAS LTDA CNPJ: 00.836.942/0001-04]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, Aquisição de ambulância simples remoção,, FIAT, UN., 1, 65.000,00, 65.000,00]
Index: []

   0km, branca, destinado à assistência à saúde
0                  conforme convenio 128/2014 –
1           EMG/SES/SUS-MG/FES e o município de
2  Cristais, com as seguintes especificações de
3                         acordo com o convenio

** ERRO ** 2 columns passed, passed data had 7 columns
** TABELA ** [['Total', '65.000,00'], ['', '', '', '', '', '', ''], ['']]

,,PROPOSTA ESCRITA,LANCE VERBAL
0,ÁGUIA VEÍCULOS E PEÇAS LTDA \nCNPJ:006.036.371...,"R$ 69.500,00","60.500,00"
1,ÁGUIA VEÍCULOS E PEÇAS LTDA \nCNPJ:006.036.371...,"R$ 69.500,00 R$ 65.520,00","60.500,00 58.900,00"
2,DISA DISTRIBUIDORA SUDOESTE DE \nAUTOS LTDA \n...,"R$ 65.520,00 R$ 65.000,00","58.900,00 59.000,00"
3,,,

  DISA DISTRIBUIDORA SUDOESTE DE AUTOS LTDA
0                  CNPJ: 17.889.783/0001-09

67dfdf460e020cbafa3d5dcb42153132

Empty DataFrame
Columns: [ATA DO PREGÃO PRESENCIAL Nº 00040/2015
       Aos 18/11/2015 às 13:15horas, na sala de Licitações da Prefeitura Municipal de Cristais, situado na Praça Cel.
Joaquim Luiz da Costa Maia, 001, Centro, em Cristais/MG, realizou-se sessão pública para recebimento e abertura
dos envelopes, contendo as propostas de preços e a documentação de habilitação, apresentados em razão do certame
icitatório na modalidade de Pregão Presencial em referência,  com o  objetivo  de AQUISIÇÃO DE VEÍCULO
NOVO, 0 KM, ADAPTADO CONFORME CONVÊNIO Nº802313/2014 COM VISTAS A ESTRUTURAÇÃO DA
REDE  DE  SERVIÇOS  DE  PROTEÇÃO  SOCIAL  ESPECIAL.  MENOR  PREÇO  POR  ITEM..  Presentes  o
pregoeiro PABLO JOSE DA SILVA, bem como a equipe de apoio:
Equipe de Apoio
TARCISIO ANTONIO MARTINS
 que esta subscrevem designados pela Portaria nº 03/2015 - 05/01/2015, para atendimento às disposições contidas
no Decreto nº 031/2009 de 10/06/2009. Presentes também, os representantes das empresas licitantes, conforme
relação abaixo:]
Index: []

,LICITANTE(S),REPRESENTANTE(S)
0,CNPJ 04.087.116/0001-60\nAGRA MOTORS COMÉRCIO ...,CPF 329.485.730-68\nLUIS CARLOS KEHL

  Dando início à sessão, o pregoeiro recebeu as declarações de cumprimento dos requisitos de habilitação, bem como\nos envelopes contendo as propostas de preços e a documentação de habilitação. Em seguida o pregoeiro abriu o\nenvelope contendo a proposta de preço, cujo valor foi o seguinte:\nAGRA MOTORS COMÉRCIO DE VEÍCULOS LTDA\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 ÔNIBUS ADAPTADO ESPECIAL UN 1 228.000,0000 228.000,00\nTotal 228.000,00\nAberta a etapa de lances verbais e de negociação direta com a licitante classificada  conforme os critérios\nestabelecidos no Edital, chegou-se então ao seguinte resultado:
0                                    Equipe de Apoio
1                           TARCISIO ANTONIO MARTINS
2              AGRA MOTORS COMÉRCIO DE VEÍCULOS LTDA

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, ÔNIBUS ADAPTADO ESPECIAL, , UN, 1, 228.000,0000, 228.000,00]
Index: []

Empty DataFrame
Columns: [Total, 228.000,00]
Index: []

Empty DataFrame
Columns: [AGRA MOTORS COMÉRCIO DE VEÍCULOS LTDA
CNPJ/CPF: 04.087.116/0001-60
ENDEREÇO: MENOTTI MUCCELLI, 576 - GLALIJA CAMARGOS - BELO HORIZONTE - MG - 30590-460]
Index: []

** ERRO ** 8 columns passed, passed data had 1 columns
** TABELA ** [['Seq.', 'Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, 02086
1, ÔNIBUS ADAPTADO ESPECIAL, , UN, 1, 227.900,0000, 227.900,00]
Index: []

b811b453d6ce70cb0bfc588161b96dd2

Empty DataFrame
Columns: [ATA DO PREGÃO PRESENCIAL Nº 24/2017
       Aos 04/04/2017 às 13:00horas, na sala de Licitações da Prefeitura Municipal de Cristais, situado na Praça Cel. Joaquim Luiz da Costa Maia
001, Centro, em Cristais/MG, realizou-se sessão pública para recebimento e abertura dos envelopes, contendo as propostas de preços e
documentação de habilitação, apresentados em razão do certame licitatório na modalidade de Pregão Presencial em referência, cujo objeto é
CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM ASSESSORIA,  OBJETIVANDO  O  ADEQUADO  ACOMPANHAMENTO  JUNTO  À
SECRETARIA  DE  ESTADO DA  FAZENDA ,  NA APURAÇÃO  DO VALOR  ADICIONADO  FISCAL  - VAF. Presentes o pregoeiro Mattheu
Henrique Rogana, bem como a equipe de apoio:
Equipe de Apoio
EDINAMARA RIBEIRO SILVA, PABLO JOSE DA SILVA
 que esta subscrevem designados pela Portaria nº 003/17 - 01/01/2017, para atendimento às disposições contidas no Decreto nº 031/2009 d
10/06/2009. Presentes também, os representantes das empresas licitantes, conforme relação abaixo:]
Index: []

,LICITANTE(S),REPRESENTANTE(S)
0,10.659.946/0001-18\nMD FACTO ASSESSORIA CONSUL...,CPF: 084.944.496-99\nGABRIEL EUSTÁQUIO MACHADO...
1,17.626.473/0001-00\nORGANIZAÇÕES CONTÁBEIS L &...,CPF: 109.020.786-74\nROMÁRIO ANTONIO SILVERIO
2,04.398.291/0001-79\nRD ASSESSORIA FISCAL LTDA,CPF: 483.695.786-91\nROGERIO DALARIVA
3,26.271.569/0001-85\nSOUZA & SOUZA CONSULTORIA ...,CPF: 482.039.716-87\nSEBASTIANA DE SOUZA BOYCE

  Dando início à sessão, o pregoeiro recebeu as declarações de cumprimento dos requisitos de habilitação, bem como os envelopes contendo a\npropostas de preços e a documentação de habilitação. Em seguida o pregoeiro abriu o envelope contendo a proposta de preço, cujo valor foi o\neguinte:\nRD ASSESSORIA FISCAL LTDA\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 SERVIÇO DE APURAÇÃO  DO VALOR  MÊS 12 1870,00 22440,00\nADICIONADO  FISCAL  - VAF\nTotal 22440,00\nSOUZA & SOUZA CONSULTORIA E ASSESSORIA EMPRESARIAL LTDA\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 SERVIÇO DE APURAÇÃO  DO VALOR  MÊS 12 1875,00 22500,00\nADICIONADO  FISCAL  - VAF\nTotal 22500,00\nORGANIZAÇÕES CONTÁBEIS L & R LTDA ME\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 SERVIÇO DE APURAÇÃO  DO VALOR  MÊS 12 1650,00 19800,00\nADICIONADO  FISCAL  - VAF\nTotal 19800,00\nMD FACTO ASSESSORIA CONSULTORIA E SERVIÇOS LTDA - ME\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 SERVIÇO DE APURAÇÃO  DO VALOR  MÊS 12 6990,00 83880,00\nADICIONADO  FISCAL  - VAF\nTotal 83880,00\nAberta a etapa de lances verbais e de negociação direta com a licitante classificada  conforme os critérios estabelecidos no Edital, chegou-se então ao\neguinte resultado:
0                                    Equipe de Apoio
1       EDINAMARA RIBEIRO SILVA, PABLO JOSE DA SILVA
2                          RD ASSESSORIA FISCAL LTDA

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, SERVIÇO DE APURAÇÃO  DO VALOR
ADICIONADO  FISCAL  - VAF, , MÊS, 12, 1870,00, 22440,00]
Index: []

Empty DataFrame
Columns: [Total, 22440,00]
Index: []

Empty DataFrame
Columns: [SOUZA & SOUZA CONSULTORIA E ASSESSORIA EMPRESARIAL LTDA]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, SERVIÇO DE APURAÇÃO  DO VALOR
ADICIONADO  FISCAL  - VAF, , MÊS, 12, 1875,00, 22500,00]
Index: []

Empty DataFrame
Columns: [Total, 22500,00]
Index: []

Empty DataFrame
Columns: [ORGANIZAÇÕES CONTÁBEIS L & R LTDA ME]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, SERVIÇO DE APURAÇÃO  DO VALOR
ADICIONADO  FISCAL  - VAF, , MÊS, 12, 1650,00, 19800,00]
Index: []

Empty DataFrame
Columns: [Total, 19800,00]
Index: []

Empty DataFrame
Columns: [MD FACTO ASSESSORIA CONSULTORIA E SERVIÇOS LTDA - ME]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, SERVIÇO DE APURAÇÃO  DO VALOR
ADICIONADO  FISCAL  - VAF, , MÊS, 12, 6990,00, 83880,00]
Index: []

** ERRO ** 2 columns passed, passed data had 1 columns
** TABELA ** [['Total', '83880,00'], [''], ['ORGANIZAÇÕES CONTÁBEIS L & R LTDA ME\nCNPJ/CPF: 17.626.473/0001-00\nENDEREÇO: JOSE MOREIRA MAIA, 373 - CENTRO - CRISTAIS - MG - 37275-000']]
** ERRO ** 8 columns passed, passed data had 1 columns
** TABELA ** [['Seq.', 'Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, 1791, SERVIÇO DE APURAÇÃO  DO VALOR  ADICIONADO  FISCAL
- VAF - 1 - VAF-B - Acompanhamento da apuração feita, com
referência aos valores, decorrentes de transações entre produtores
rurais e outros, que farão parte do VAF-B e Crédito Próprio, emitidos
pela Administração Fazendária Estadual, relativo ao exercício de 2016.
2 - VAF-A - Acompanhamento da entrega das informações do VAF-A,
pelas  empresas  estabelecidas  no  município,  recebidas  pela
Administração Fazendária Estadual, relativos ao exercício de 2016.
Conferência e cobrança das informações do VAF-A, dos Contribuintes
Omissos, bem como as Declarações Negativas e Zeradas.
3 - CRÉDITOS EXTERNOS - Verificar se todas as empresas de
transportes  coletivos  e  de  cargas,  bem como: Cemig,  Telemig,
Telemar,  Embratel,  EBCT,  Ceasa,  etc.,  declararam  os  valores
correspondentes (créditos) à este município.
4 -Pelo "Sistema Especialista", desenvolvido pela RD Assessoria
Fiscal,  será permitido importar dados da SEF/MG, fazer cadastro de
contribuintes,  acompanhar a evolução do índice do VAF, corrigir
desvios, imprimir relatórios e itens da Lei Robin Hood.
Todos os dados necessários ao processo de apuração do índice do
VAF  são carregados com a frequência previamente definida no
sistema,  processados,  avaliados  e  disponibilizados  para
acompanhamento do Gestor Municipal por meio da INTERNET, com
vários relatórios que permitem localizar todas as inconsistências do
VAF, para que possamos cobrar justificativas ou substituição junto aos
contadores, através de ofícios enviados.
5        - Após publicação dos índices provisórios, conferência de todos
os dados lançados, comparativos com planilhas de anos anteriores e
todos os procedimentos necessários para elaboração de recurso, se
necessário., , MÊS, 12, 840,00, 10080,00]
Index: []

     Sub Total  10.080,00
0  Total Geral  10.080,00

f1287cc8fcccf899d0b5d7446381eb34

Empty DataFrame
Columns: [ATA DO PREGÃO PRESENCIAL Nº 017/2017
       Aos 09/03/2017 às 09:00horas, na sala de Licitações da Prefeitura Municipal de Cristais, situado na Praça
Cel. Joaquim Luiz da Costa Maia, 001, Centro, em Cristais/MG, realizou-se sessão pública para recebimento e
abertura dos envelopes, contendo as propostas de preços e a documentação de habilitação, apresentados em razão
do certame licitatório na modalidade de Pregão Presencial em referência, com o objetivo de AQUISIÇÃO DE
ACADEMIA AO AR LIVRE (MULTI-EXERCITADOR) PARA O MUNICÍPIO DE CRISTAIS CONFORME
CONVENIO 150/2014, JUNTO A SECRETARIA DE ESTADO DE TURISMO E ESPORTES. Presentes o
pregoeiro PABLO JOSE DA SILVA, bem como a equipe de apoio:
Equipe de Apoio
MATTHEUS HENRIQUE ROGANA, EDINAMARA RIBEIRO SILVA
 que esta subscrevem designados pela Portaria nº 03/17 - 01/01/2017, para atendimento às disposições contida
no Decreto nº 031/2009 de 10/06/2009. Presentes também, os representantes das empresas licitantes, conforme
elação abaixo:]
Index: []

,LICITANTE(S),REPRESENTANTE(S)
0,23.035.647/0001-54\nCANEDO NUNES IND. E COM. D...,CPF 567.602.996-04\nDENES OCTAVIANO NUNES
1,15.203.120/0001-63\nINÊS DALMANN ME,AUSENTE
2,24.336.853/0001-67\nMARCOS AURELIO VELOSO GOME...,CPF 007.839.706-50\nLISIANE DE MELO GOMES
3,10.555.495/0001-79\nMILLA EQUIPAMENTOS METALUR...,AUSENTE
4,10.547.961/0001-74\nS.O.ZIOBER & CIA EQUIPAMEN...,CPF 012.312.906-09\nLAERTE GONÇALVES HESPANHA

  Dando início à sessão, o pregoeiro recebeu as declarações de cumprimento dos requisitos de habilitação, bem\ncomo os envelopes contendo as propostas de preços e a documentação de habilitação. Em seguida o pregoeiro\nabriu o envelope contendo a proposta de preço, cujo valor foi o seguinte:\nS.O.ZIOBER & CIA EQUIPAMENTOS METALURGICOS LTDA EPP\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 MULTI  EXERCITADOR  C/  6  FUNÇÕES UN 2 4335,8200 8671,64\nFABRICADO  COM  TUBOS  DE  AÇO\nCARBONO;  CUBOS  ROLAMENTADOS\nBLINDADOS;  PINTURA  EM  PÓ\nELETROSTÁTICA;  MANOPLAS\nANATÔMICAS; BATENTES DE IMPACTO EM\nBORRACHA; PLACAS DE IDENTIFICAÇÃO;\nRESISTENTES A AÇÕES CLIMÁTICAS.\nTotal 8671,64\nCANEDO NUNES IND. E COM. DE EQUIPAMENTOS PARA ACADEMIA AO AR LIVRE EIRELI ME\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total
0                                    Equipe de Apoio
1  MATTHEUS HENRIQUE ROGANA, EDINAMARA RIBEIRO SILVA
2  S.O.ZIOBER & CIA EQUIPAMENTOS METALURGICOS LTD...

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, MULTI  EXERCITADOR  C/  6  FUNÇÕES
FABRICADO  COM  TUBOS  DE  AÇO
CARBONO;  CUBOS  ROLAMENTADOS
BLINDADOS;  PINTURA  EM  PÓ
ELETROSTÁTICA;  MANOPLAS
ANATÔMICAS; BATENTES DE IMPACTO EM
BORRACHA; PLACAS DE IDENTIFICAÇÃO;
RESISTENTES A AÇÕES CLIMÁTICAS., , UN, 2, 4335,8200, 8671,64]
Index: []

Empty DataFrame
Columns: [Total, 8671,64]
Index: []

Empty DataFrame
Columns: [CANEDO NUNES IND. E COM. DE EQUIPAMENTOS PARA ACADEMIA AO AR LIVRE EIRELI ME]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], [''], ['1 MULTI  EXERCITADOR  C/  6  FUNÇÕES UN 2 2800,0000 5600,00\nFABRICADO  COM  TUBOS  DE  AÇO\nCARBONO;  CUBOS  ROLAMENTADOS\nBLINDADOS;  PINTURA  EM  PÓ\nELETROSTÁTICA;  MANOPLAS\nANATÔMICAS; BATENTES DE IMPACTO EM\nBORRACHA; PLACAS DE IDENTIFICAÇÃO;\nRESISTENTES A AÇÕES CLIMÁTICAS.\nTotal 5600,00\nMARCOS AURELIO VELOSO GOMES 04487031656\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 MULTI  EXERCITADOR  C/  6  FUNÇÕES UN 2 2800,0000 5600,00\nFABRICADO  COM  TUBOS  DE  AÇO\nCARBONO;  CUBOS  ROLAMENTADOS\nBLINDADOS;  PINTURA  EM  PÓ\nELETROSTÁTICA;  MANOPLAS\nANATÔMICAS; BATENTES DE IMPACTO EM\nBORRACHA; PLACAS DE IDENTIFICAÇÃO;\nRESISTENTES A AÇÕES CLIMÁTICAS.\nTotal 5600,00\nINÊS DALMANN ME\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 MULTI  EXERCITADOR  C/  6  FUNÇÕES UN 2 3480,0000 6960,00\nFABRICADO  COM  TUBOS  DE  AÇO\nCARBONO;  CUBOS  ROLAMENTADOS\nBLINDADOS;  PINTURA  EM  PÓ\nELETROSTÁTICA;  MANOPLAS\nANATÔMICAS; BATENTES DE IMPACTO EM\nBORRACHA; PLACAS DE IDENTIFICAÇÃO;\nRESISTENTES A AÇÕES CLIMÁTICAS.\nTotal 6960,00\nMILLA EQUIPAMENTOS METALURGICOS EIRELI - EPP\nItem Descrição Marca UN Qtd. Valor Unitário Valor Total\n1 MULTI  EXERCITADOR  C/  6  FUNÇÕES UN 2 3371,0000 6742,00\nFABRICADO  COM  TUBOS  DE  AÇO\nCARBONO;  CUBOS  ROLAMENTADOS\nBLINDADOS;  PINTURA  EM  PÓ\nELETROSTÁTICA;  MANOPLAS\nANATÔMICAS; BATENTES DE IMPACTO EM\nBORRACHA; PLACAS DE IDENTIFICAÇÃO;\nRESISTENTES A AÇÕES CLIMÁTICAS.\nTotal 6742,00\nAberta a etapa de lances verbais e de negociação direta com a licitante classificada  conforme os critérios estabelecidos no Edital, chegou-se então ao\neguinte resultado:'], ['MARCOS AURELIO VELOSO GOMES 04487031656\nCNPJ/CPF: 24.336.853/0001-67\nENDEREÇO: TRINTA E CINCO, 76 - NOVO DELFINO - MONTES CLAROS - MG - 39402-523']]
** ERRO ** 8 columns passed, passed data had 1 columns
** TABELA ** [['Seq.', 'Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], [''], ['']]

Empty DataFrame
Columns: [1, MULTI  EXERCITADOR  C/  6  FUNÇÕES
FABRICADO  COM  TUBOS  DE  AÇO
CARBONO;  CUBOS  ROLAMENTADOS
BLINDADOS;  PINTURA  EM  PÓ
ELETROSTÁTICA;  MANOPLAS
ANATÔMICAS; BATENTES DE IMPACTO EM
BORRACHA; PLACAS DE IDENTIFICAÇÃO;
RESISTENTES A AÇÕES CLIMÁTICAS., , UN, 2, 2800,0000, 5600,00]
Index: []

Empty DataFrame
Columns: [Total, 5600,00]
Index: []

Empty DataFrame
Columns: [MARCOS AURELIO VELOSO GOMES 04487031656]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, MULTI  EXERCITADOR  C/  6  FUNÇÕES
FABRICADO  COM  TUBOS  DE  AÇO
CARBONO;  CUBOS  ROLAMENTADOS
BLINDADOS;  PINTURA  EM  PÓ
ELETROSTÁTICA;  MANOPLAS
ANATÔMICAS; BATENTES DE IMPACTO EM
BORRACHA; PLACAS DE IDENTIFICAÇÃO;
RESISTENTES A AÇÕES CLIMÁTICAS., , UN, 2, 2800,0000, 5600,00]
Index: []

Empty DataFrame
Columns: [Total, 5600,00]
Index: []

Empty DataFrame
Columns: [INÊS DALMANN ME]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, MULTI  EXERCITADOR  C/  6  FUNÇÕES
FABRICADO  COM  TUBOS  DE  AÇO
CARBONO;  CUBOS  ROLAMENTADOS
BLINDADOS;  PINTURA  EM  PÓ
ELETROSTÁTICA;  MANOPLAS
ANATÔMICAS; BATENTES DE IMPACTO EM
BORRACHA; PLACAS DE IDENTIFICAÇÃO;
RESISTENTES A AÇÕES CLIMÁTICAS., , UN, 2, 3480,0000, 6960,00]
Index: []

Empty DataFrame
Columns: [Total, 6960,00]
Index: []

Empty DataFrame
Columns: [MILLA EQUIPAMENTOS METALURGICOS EIRELI - EPP]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

Empty DataFrame
Columns: [1, MULTI  EXERCITADOR  C/  6  FUNÇÕES
FABRICADO  COM  TUBOS  DE  AÇO
CARBONO;  CUBOS  ROLAMENTADOS
BLINDADOS;  PINTURA  EM  PÓ
ELETROSTÁTICA;  MANOPLAS
ANATÔMICAS; BATENTES DE IMPACTO EM
BORRACHA; PLACAS DE IDENTIFICAÇÃO;
RESISTENTES A AÇÕES CLIMÁTICAS., , UN, 2, 3371,0000, 6742,00]
Index: []

Empty DataFrame
Columns: [Total, 6742,00]
Index: []

Empty DataFrame
Columns: [1 021802 MULTI EXERCITADOR C/ 6 FUNÇÕES FABRICADO UN 2 2749,0000 5498,00
COM  TUBOS  DE  AÇO  CARBONO;  CUBOS
ROLAMENTADOS  BLINDADOS;  PINTURA  EM  PÓ
ELETROSTÁTICA;  MANOPLAS  ANATÔMICAS;
BATENTES DE IMPACTO EM BORRACHA; PLACAS
DE  IDENTIFICAÇÃO;  RESISTENTES  A  AÇÕES
CLIMÁTICAS. - MULTI EXERCITADOR C/ 6 FUNÇÕES
FABRICADO  COM  TUBOS  DE  AÇO  CARBONO;
CUBOS ROLAMENTADOS BLINDADOS; PINTURA EM
PÓ  ELETROSTÁTICA;  MANOPLAS  ANATÔMICAS;
BATENTES DE IMPACTO EM BORRACHA; PLACAS
DE  IDENTIFICAÇÃO;  RESISTENTES  A  AÇÕES
CLIMÁTICAS.
Sub Total 5498,00]
Index: []

Empty DataFrame
Columns: [1, 021802, MULTI EXERCITADOR C/ 6 FUNÇÕES FABRICADO
COM  TUBOS  DE  AÇO  CARBONO;  CUBOS
ROLAMENTADOS  BLINDADOS;  PINTURA  EM  PÓ
ELETROSTÁTICA;  MANOPLAS  ANATÔMICAS;
BATENTES DE IMPACTO EM BORRACHA; PLACAS
DE  IDENTIFICAÇÃO;  RESISTENTES  A  AÇÕES
CLIMÁTICAS. - MULTI EXERCITADOR C/ 6 FUNÇÕES
FABRICADO  COM  TUBOS  DE  AÇO  CARBONO;
CUBOS ROLAMENTADOS BLINDADOS; PINTURA EM
PÓ  ELETROSTÁTICA;  MANOPLAS  ANATÔMICAS;
BATENTES DE IMPACTO EM BORRACHA; PLACAS
DE  IDENTIFICAÇÃO;  RESISTENTES  A  AÇÕES
CLIMÁTICAS., , UN, 2, 2749,0000, 5498,00]
Index: []

     Sub Total  5498,00
0  Total Geral  5498,00

2cb3f9bdfa78bee9de9937c2a8c42174

,58 17,"EXPLORADORES BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA",,UN UN,65 50,"6,6000 2,1000","429,00 105,00"
0,17,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"2,1000","105,00"
1,18,"ESFÉRICA, NÚMERO 1011 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"2,1000","105,00"
2,18,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"2,1000","105,00"
3,19,"ESFÉRICA, NÚMERO 1012 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"2,1000","105,00"
4,19,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"2,1000","105,00"
5,20,"ESFÉRICA, NÚMERO 1013 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"2,1000","105,00"
6,20,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"2,1000","105,00"
7,21,"ESFÉRICA, NÚMERO 1031 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"2,1000","105,00"
8,21,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"2,1000","105,00"
9,22,"ESFÉRICA, NÚMERO 1032 BROCA ALTA ROTAÇÃO DIAMA...",,UN,20,"0,0000","0,00"
10,22,"BROCA ALTA ROTAÇÃO DIAMANTADA, NUMEO 9006 FF",,UN,20,"0,0000","0,00"
11,23,"9006 FF BROCA ALTA ROTAÇÃO DIAMANTADA, NUMERO",,UN,20,"0,0000","0,00"
12,23,"BROCA ALTA ROTAÇÃO DIAMANTADA, NUMERO 9903 FF",,UN,20,"0,0000","0,00"
13,24,"9903 FF BROCA ALTA ROTAÇÃO DIAMANTADA, PONTA",,UN,20,"2,1000","42,00"
14,24,"BROCA ALTA ROTAÇÃO DIAMANTADA, PONTA DE LÁPIS",,UN,20,"2,1000","42,00"
15,25,"DE LÁPIS BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"11,8000","236,00"
16,25,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NÚMERO 245",,UN,20,"11,8000","236,00"
17,26,"NÚMERO 245 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"11,8000","236,00"
18,26,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NUMEO 330",,UN,20,"11,8000","236,00"
19,27,"NUMEO 330 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"0,0000","0,00"
20,27,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NUMERO 2157",,UN,20,"0,0000","0,00"
21,28,"NUMERO 2157 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"11,8000","236,00"
22,,NUMERO 329,,,,,
23,29,BROCA BAIXA ROTAÇÃO NÚMERO 6,,UN,20,"4,2000","84,00"
24,30,BROCA BAIXA ROTAÇÃO NÚMERO 8,,UN,20,"4,2000","84,00"
25,31,BROCA CIRURGICA Nº 702,,UN,15,"19,8000","297,00"
26,32,BROCA DE ALTA ROTAÇAO TIPO PERA,,UN,20,"2,1000","42,00"
27,33,BROCA ENDO Z,,UN,20,"34,5000","690,00"
28,34,CABO PARA ESPELHO NÚMERO 05,,UN,50,"3,3000","165,00"
29,35,CANETA DE ALTA ROTAÇAO,,UN,5,"487,5000","2437,50"
30,36,CANETA DE BAIXA ROTAÇAO,,UN,5,"487,5000","2437,50"
31,36 37,CANETA DE BAIXA ROTAÇAO CIMENTO DE HIDROXIDO D...,,UN KIT,5 15,"487,5000 15,0000","2437,50 225,00"
32,37 38,CIMENTO DE HIDROXIDO DE CALCIO CIMENTO DE IONÔ...,,KIT KIT,15 25,"15,0000 34,5000","225,00 862,50"
33,,RESTAURAÇÃO- PÓ E LÍQUIDO,,,,,
34,39,"CLOREXEDINA 0,12 % (BOCHECHO)",,UN,25,"11,6000","290,00"
35,40,CLOREXIDINA 2 %,,L,15,"12,6000","189,00"
36,41,COLHER DE DENTINA PEQUENA,,UN,65,"6,6000","429,00"
37,42,CONDENSADOR DE AMALGAMA G,,UN,5,"6,6000","33,00"
38,43,CONDENSADOR DE AMALGAMA M,,UN,5,"6,6000","33,00"
39,44,CONDENSADOR DE AMALGAMA P,,UN,5,"6,6000","33,00"
40,45,DESCOLADOR DE MOLDE,,UN,10,"41,7000","417,00"
41,46,"DESINCRUSTANTE, EMBALAGEM COM 1 LITRO",,UN,20,"25,9000","518,00"
42,47,DIGLUCONATO DE CLOREXIDINA 2%,,UN,2,"11,8500","23,70"
43,47 48,DIGLUCONATO DE CLOREXIDINA 2% DISCO PARA POLIM...,,UN CX,2 15,"11,8500 73,3000","23,70 1099,50"
44,49,ESCOVA ODONTOLOGICA CABO EM PLÁSTICO,,UN,2000,"0,5500","1100,00"

  RÍGIDO E CERDAS MACIAS EM NYLON, CABEÇA
0  TAMANHO MÉDIO COM NO MÍNIMO 4 FILEIRAS
1             DE CERDAS, TAMANHO INFANTIL

,50,ESCOVA PARA LIMPEZA DE BROCAS,,UN,5,"8,8500","44,25"
0,51,ESCOVA PARA LIMPEZA DE INSTRUMENTAL,,UN,5,"6,6000","33,00"
1,52,ESCOVA TIPO ROBIMOM RETA (PROFILÁTICA),,UN,65,"1,5000","97,50"
2,53,ESPATULA Nº 07,,UN,25,"9,9000","247,50"
3,54,ESPÁTULA P/RESINA COMPOSTA,,UN,65,"21,6000","1404,00"
4,55,ESPELHO BUCAL NÚMERO 5 SEM CABO,,UN,120,"3,0000","360,00"
...,...,...,...,...,...,...,...
56,95 96,POSICIONADOR P/ RADIOGRAFIA INTRAORAL PRIMER ...,,UN UN,4 25,"77,5000 79,3500","310,00 1983,75"
57,96 97,PRIMER MULTI-USO ( ADESIVO DENTINÁRIO) RESINA ...,,UN UN,25 40,"79,3500 48,0000","1983,75 1920,00"
58,97,"RESINA COMPOSTA FOTOPOLIMERIZÁVEL HIBRÍDA, COR...",,UN,40,"48,0000","1920,00"
59,98,RESINA COMPOSTA FOTOPOLIMERIZÁVEL,,UN,5,"48,0000","240,00"
60,,"MICROHÍBRIDA OU HÍBRICA, COR C2, TUBO COM",,,,,

Empty DataFrame
Columns: [3 GRAMA]
Index: []

  99          RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 48,0000 1200,00
0     MICROHÍBRIDA OU HÍBRIDA, COR A1, TUBO COM

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

Empty DataFrame
Columns: [, MICROHÍBRIDA OU HÍBRIDA, COR A2, TUBO COM, , , , , ]
Index: []

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

  101        RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 48,0000 1200,00
0      MICROHÍBRIDA OU HÍBRIDA, COR A3,5, TUBO

Empty DataFrame
Columns: [COM 3 GRAMAS]
Index: []

  102          RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 48,0000 1200,00
0      MICROHÍBRIDA OU HÍBRIDA, COR B1, TUBO COM

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

  103          RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 48,0000 1200,00
0      MICROHÍBRIDA OU HÍBRIDA, COR B2, TUBO COM

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

,None 104,"3 GRAMAS RESINA COMPOSTA FOTOPOLIMERIZÁVEL, COR",None,None UN,None 25,"None 48,0000","None 1200,00"
0,104,"RESINA COMPOSTA FOTOPOLIMERIZÁVEL, COR UD, TUB...",,UN,25,"48,0000","1200,00"
1,105,"UD, TUBO COM 3 GRAMAS REVELADOR RADIOGRAFICO O...",,UN,4,"0,0000","0,00"
2,,PROCESSAMENTO MANUAL 1 LITRO,,,,,
3,106,RIFOCORT 10 GRAMAS,,UN,4,"0,0000","0,00"
4,107,SACA BROCA,,UN,15,"31,5000","472,50"
5,108,SELANTE DE FÓSSULAS E FISSURAS,,UN,15,"22,5000","337,50"
6,109,SERINGA CARPULE,,UN,25,"34,5000","862,50"
7,109 110,SERINGA CARPULE SERINGA DE ÁCIDO FOSFÓRICO 37%,,UN UN,25 35,"34,5000 1,8000","862,50 63,00"
8,110 111,SERINGA DE ÁCIDO FOSFÓRICO 37% TAÇA DE BORRACH...,,UN UN,35 55,"1,8000 1,5000","63,00 82,50"
9,,"ODONTOLÓGICA, COM CONTRA ÂNGULO",,,,,
10,112,"ODONTOLÓGICA, COM CONTRA ÂNGULO TESOURA CIRURG...",,UN,15,"19,6700","295,05"
11,112 113,TESOURA CIRURGICA M 15 CM VERNIZ ( PROTEÇÃO DA...,,UN UN,15 10,"19,6700 10,5000","295,05 105,00"
12,113,VERNIZ ( PROTEÇÃO DA CAVIDADE P/ COLOCAÇÃO AMÁ...,,UN,10,"10,5000","105,00"
13,114,COLOCAÇÃO AMÁLGMA ) SUGADOR PLÁSTICO DESCARTÁVEL,,PCT,20,"4,9500","99,00"
14,114,SUGADOR PLÁSTICO DESCARTÁVEL EMBALAGEM COM 40 ...,,PCT,20,"4,9500","99,00"
15,115,EMBALAGEM COM 40 UNIDADES TIRA DE LIXA DE POLI...,,CX,15,"8,2500","123,75"
16,115,"TIRA DE LIXA DE POLIESTER, CAIXA COM 150 UNIDADES",,CX,15,"8,2500","123,75"
17,116,UNIDADES TIRA DE LIXA DE POLIMENTO E ACABAMENTO,,CX,15,"8,5500","128,25"
18,116,TIRA DE LIXA DE POLIMENTO E ACABAMENTO DE RESI...,,CX,15,"8,5500","128,25"
19,117,"TIRA DE LIXA EM AÇO INOXIDÁVEL, PARA",,CX,15,"9,4500","141,75"
20,,"POLIMENTO DE AMÁLGAMA, 4 MM DE LARGURA.",,,,,

Empty DataFrame
Columns: [CAIXA COM 12 UNIDADES]
Index: []

,None 118,"CAIXA COM 12 UNIDADES FLUOR GEL FLUOR FOSFATO ACIDULADO 1,23",None,None UN,None 20,"None 5,2500","None 105,00"
0,,GEL FIX´TRÓPICO 240 ML,,,,,
1,119,MOCHO ODONTOLÓGICO,,UN,4,"885,0000","3540,00"

Empty DataFrame
Columns: [Total, 68541,25]
Index: []

Empty DataFrame
Columns: [DENTAL MARIA LTDA ME]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

,1,"None GUTA PERCHA EM BASTÃO, BRANCA",None,None UN,None 4,"None 28,4900","None 113,96"
0,1 2,"GUTA PERCHA EM BASTÃO, BRANCA ANESTÉSICO ODONT...",,UN UN,4 35,"28,4900 65,6500","113,96 2297,75"
1,,MEPIVACAINA A 3% SEM VASO CONSTRITOR,,,,,
2,3,GLUTARALDEÍDO 2 % FRASCO COM 1.000ML,,L,25,"34,2700","856,75"
3,4,CREME DENTAL COM FLÚOR 90 G,,UN,2000,"1,5000","3000,00"
4,4 5,CREME DENTAL COM FLÚOR 90 G ACABAMENTO PARA RE...,,UN KIT,2000 15,"1,5000 27,3100","3000,00 409,65"
5,5 6,ACABAMENTO PARA RESINA BROCA FF ÁGUA OXIGENADA...,,KIT FR,15 15,"27,3100 0,0000","409,65 0,00"
6,6,ÁGUA OXIGENADA 10 VOLUMES FRASCO DE 1 LITRO,,FR,15,"0,0000","0,00"
7,7,AGULHA ODONTOLÓGICA DESCARTÁVEL PARA,,CX,20,"32,2500","645,00"
8,,"ANESTESIA, 27 G, LONGA, CAIXA COM 100",,,,,

Empty DataFrame
Columns: [UNIDADES]
Index: []

  8   AGULHA ODONTOLÓGICA DESCARTÁVEL PARA   CX 20 32,2500 645,00
0    ANESTESIA, 30 G, CURTA, CAIXA COM 100

Empty DataFrame
Columns: [UNIDADES]
Index: []

,None 9,"UNIDADES ÁLCOOL ETÍLICO 70%, FRASCO COM 1000",None,None FR,None 30,"None 0,0000","None 0,00"
0,,MILILITROS,,,,,
1,10,"MILILITROS ÁLCOOL IODADO 70%, EMBALAGEM COM 1 ...",,L,20,"0,0000","0,00"
2,10 11,"ÁLCOOL IODADO 70%, EMBALAGEM COM 1 LITRO ALGOD...",,L PCT,20 150,"0,0000 1,9200","0,00 288,00"
3,11,"ALGODÃO HIDRÓFILO EM ROLETES DENTAIS, PACOTE C...",,PCT,150,"1,9200","288,00"
4,12,PACOTE COM 100 UNIDADES ALMOTOLIA PLÁSTICA TRA...,,UN,20,"0,0000","0,00"
5,,RETO 250 ML,,,,,
6,13,ANESTÉSICO ODONTOLÓGICO CLORIDRATO DE,,CX,35,"37,2000","1302,00"
7,,LIDOCAÍNA 2% COM VASO CONSTRITOR,,,,,

Empty DataFrame
Columns: [(FENILEFRINA, ADRENALINA OU SIMILAR)]
Index: []

  14   ANESTÉSICO ODONTOLÓGICO CLORIDRATO   CX 35 35,2500 1233,75
0     PRILOCAÍNA A 3% COM FELIPRESSINA OU

Empty DataFrame
Columns: [OCTAPRESIM]
Index: []

,None 15,OCTAPRESIM ANESTÉSICO TÓPICO GEL SABOR TUTI FRUTI OU,None,None UN,None 35,"None 7,2000","None 252,00"
0,,ABACAXI,,,,,
1,16,ABACAXI ANESTÉSICO TÓPICO SPRAY,,UN,15,"145,0000","2175,00"
2,16 17,ANESTÉSICO TÓPICO SPRAY BROCA ALTA ROTAÇÃO DIA...,,UN UN,15 50,"145,0000 1,6500","2175,00 82,50"
3,17,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,6500","82,50"
4,18,"ESFÉRICA, NÚMERO 1011 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,6500","82,50"
5,18,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,6500","82,50"
6,19,"ESFÉRICA, NÚMERO 1012 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,6500","82,50"
7,19,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,6500","82,50"
8,20,"ESFÉRICA, NÚMERO 1013 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,6500","82,50"
9,20,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,6500","82,50"
10,21,"ESFÉRICA, NÚMERO 1031 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,6500","82,50"
11,21,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,6500","82,50"
12,22,"ESFÉRICA, NÚMERO 1032 BROCA ALTA ROTAÇÃO DIAMA...",,UN,20,"15,6300","312,60"
13,22,"BROCA ALTA ROTAÇÃO DIAMANTADA, NUMEO 9006 FF",,UN,20,"15,6300","312,60"
14,23,"9006 FF BROCA ALTA ROTAÇÃO DIAMANTADA, NUMERO",,UN,20,"15,6300","312,60"
15,23,"BROCA ALTA ROTAÇÃO DIAMANTADA, NUMERO 9903 FF",,UN,20,"15,6300","312,60"
16,24,"9903 FF BROCA ALTA ROTAÇÃO DIAMANTADA, PONTA",,UN,20,"2,4600","49,20"
17,24,"BROCA ALTA ROTAÇÃO DIAMANTADA, PONTA DE LÁPIS",,UN,20,"2,4600","49,20"
18,25,"DE LÁPIS BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"4,5700","91,40"
19,25,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NÚMERO 245",,UN,20,"4,5700","91,40"
20,26,"NÚMERO 245 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"4,5700","91,40"
21,26,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NUMEO 330",,UN,20,"4,5700","91,40"
22,27,"NUMEO 330 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"4,5700","91,40"
23,27,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NUMERO 2157",,UN,20,"4,5700","91,40"
24,28,"NUMERO 2157 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"4,5700","91,40"
25,,NUMERO 329,,,,,
26,29,BROCA BAIXA ROTAÇÃO NÚMERO 6,,UN,20,"3,0500","61,00"
27,30,BROCA BAIXA ROTAÇÃO NÚMERO 8,,UN,20,"3,0500","61,00"
28,31,BROCA CIRURGICA Nº 702,,UN,15,"6,6600","99,90"
29,32,BROCA DE ALTA ROTAÇAO TIPO PERA,,UN,20,"30,8400","616,80"
30,33,BROCA ENDO Z,,UN,20,"22,6100","452,20"
31,34,CABO PARA ESPELHO NÚMERO 05,,UN,50,"4,2200","211,00"
32,35,CANETA DE ALTA ROTAÇAO,,UN,5,"343,6400","1718,20"
33,36,CANETA DE BAIXA ROTAÇAO,,UN,5,"396,1800","1980,90"
34,36 37,CANETA DE BAIXA ROTAÇAO CIMENTO DE HIDROXIDO D...,,UN KIT,5 15,"396,1800 15,2100","1980,90 228,15"
35,37 38,CIMENTO DE HIDROXIDO DE CALCIO CIMENTO DE IONÔ...,,KIT KIT,15 25,"15,2100 15,9000","228,15 397,50"
36,,RESTAURAÇÃO- PÓ E LÍQUIDO,,,,,
37,39,"CLOREXEDINA 0,12 % (BOCHECHO)",,UN,25,"15,3900","384,75"
38,40,CLOREXIDINA 2 %,,L,15,"16,7700","251,55"
39,41,COLHER DE DENTINA PEQUENA,,UN,65,"9,6800","629,20"
40,42,CONDENSADOR DE AMALGAMA G,,UN,5,"8,3400","41,70"
41,43,CONDENSADOR DE AMALGAMA M,,UN,5,"8,3400","41,70"
42,44,CONDENSADOR DE AMALGAMA P,,UN,5,"8,3400","41,70"
43,45,DESCOLADOR DE MOLDE,,UN,10,"43,3900","433,90"
44,46,"DESINCRUSTANTE, EMBALAGEM COM 1 LITRO",,UN,20,"23,1000","462,00"
45,47,DIGLUCONATO DE CLOREXIDINA 2%,,UN,2,"11,1600","22,32"
46,47 48,DIGLUCONATO DE CLOREXIDINA 2% DISCO PARA POLIM...,,UN CX,2 15,"11,1600 20,8500","22,32 312,75"
47,49,ESCOVA ODONTOLOGICA CABO EM PLÁSTICO,,UN,2000,"0,6100","1220,00"

  RÍGIDO E CERDAS MACIAS EM NYLON, CABEÇA
0  TAMANHO MÉDIO COM NO MÍNIMO 4 FILEIRAS
1             DE CERDAS, TAMANHO INFANTIL

,50,ESCOVA PARA LIMPEZA DE BROCAS,,UN,5,"4,6600","23,30"
0,51,ESCOVA PARA LIMPEZA DE INSTRUMENTAL,,UN,5,"21,0000","105,00"
1,52,ESCOVA TIPO ROBIMOM RETA (PROFILÁTICA),,UN,65,"1,9000","123,50"
2,53,ESPATULA Nº 07,,UN,25,"11,3600","284,00"
3,54,ESPÁTULA P/RESINA COMPOSTA,,UN,65,"50,4600","3279,90"
4,55,ESPELHO BUCAL NÚMERO 5 SEM CABO,,UN,120,"2,4300","291,60"
...,...,...,...,...,...,...,...
57,96,PRIMER MULTI-USO ( ADESIVO DENTINÁRIO),,UN,25,"19,3300","483,25"
58,97,"HIBRÍDA, COR B2, TUBO COM 3 GRAMAS RESINA COMP...",,UN,40,"13,6700","546,80"
59,97,"RESINA COMPOSTA FOTOPOLIMERIZÁVEL HIBRÍDA, COR...",,UN,40,"13,6700","546,80"
60,98,RESINA COMPOSTA FOTOPOLIMERIZÁVEL,,UN,5,"9,8000","49,00"
61,,"MICROHÍBRIDA OU HÍBRICA, COR C2, TUBO COM",,,,,

Empty DataFrame
Columns: [3 GRAMA]
Index: []

  99          RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 9,8000 245,00
0     MICROHÍBRIDA OU HÍBRIDA, COR A1, TUBO COM

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

  100          RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 9,8000 245,00
0      MICROHÍBRIDA OU HÍBRIDA, COR A2, TUBO COM

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

  101        RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 9,8000 245,00
0      MICROHÍBRIDA OU HÍBRIDA, COR A3,5, TUBO

Empty DataFrame
Columns: [COM 3 GRAMAS]
Index: []

  102          RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 9,8000 245,00
0      MICROHÍBRIDA OU HÍBRIDA, COR B1, TUBO COM

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

  103          RESINA COMPOSTA FOTOPOLIMERIZÁVEL   UN 25 9,8000 245,00
0      MICROHÍBRIDA OU HÍBRIDA, COR B2, TUBO COM

Empty DataFrame
Columns: [3 GRAMAS]
Index: []

,None 104,"3 GRAMAS RESINA COMPOSTA FOTOPOLIMERIZÁVEL, COR",None,None UN,None 25,"None 32,6600","None 816,50"
0,104,"RESINA COMPOSTA FOTOPOLIMERIZÁVEL, COR UD, TUB...",,UN,25,"32,6600","816,50"
1,105,"UD, TUBO COM 3 GRAMAS REVELADOR RADIOGRAFICO O...",,UN,4,"16,0000","64,00"
2,,PROCESSAMENTO MANUAL 1 LITRO,,,,,
3,106,RIFOCORT 10 GRAMAS,,UN,4,"0,0000","0,00"
4,107,SACA BROCA,,UN,15,"34,0800","511,20"
5,108,SELANTE DE FÓSSULAS E FISSURAS,,UN,15,"12,3100","184,65"
6,109,SERINGA CARPULE,,UN,25,"41,6600","1041,50"
7,109 110,SERINGA CARPULE SERINGA DE ÁCIDO FOSFÓRICO 37%,,UN UN,25 35,"41,6600 1,5100","1041,50 52,85"
8,110 111,SERINGA DE ÁCIDO FOSFÓRICO 37% TAÇA DE BORRACH...,,UN UN,35 55,"1,5100 2,0300","52,85 111,65"
9,,"ODONTOLÓGICA, COM CONTRA ÂNGULO",,,,,
10,112,"ODONTOLÓGICA, COM CONTRA ÂNGULO TESOURA CIRURG...",,UN,15,"26,1900","392,85"
11,112 113,TESOURA CIRURGICA M 15 CM VERNIZ ( PROTEÇÃO DA...,,UN UN,15 10,"26,1900 9,3700","392,85 93,70"
12,113,VERNIZ ( PROTEÇÃO DA CAVIDADE P/ COLOCAÇÃO AMÁ...,,UN,10,"9,3700","93,70"
13,114,COLOCAÇÃO AMÁLGMA ) SUGADOR PLÁSTICO DESCARTÁVEL,,PCT,20,"5,7800","115,60"
14,114,SUGADOR PLÁSTICO DESCARTÁVEL EMBALAGEM COM 40 ...,,PCT,20,"5,7800","115,60"
15,115,EMBALAGEM COM 40 UNIDADES TIRA DE LIXA DE POLI...,,CX,15,"6,0900","91,35"
16,115,"TIRA DE LIXA DE POLIESTER, CAIXA COM 150 UNIDADES",,CX,15,"6,0900","91,35"
17,116,UNIDADES TIRA DE LIXA DE POLIMENTO E ACABAMENTO,,CX,15,"25,3000","379,50"
18,116,TIRA DE LIXA DE POLIMENTO E ACABAMENTO DE RESI...,,CX,15,"25,3000","379,50"
19,117,"TIRA DE LIXA EM AÇO INOXIDÁVEL, PARA",,CX,15,"7,3000","109,50"
20,,"POLIMENTO DE AMÁLGAMA, 4 MM DE LARGURA.",,,,,

Empty DataFrame
Columns: [CAIXA COM 12 UNIDADES]
Index: []

,None 118,"CAIXA COM 12 UNIDADES FLUOR GEL FLUOR FOSFATO ACIDULADO 1,23",None,None UN,None 20,"None 4,0000","None 80,00"
0,,GEL FIX´TRÓPICO 240 ML,,,,,
1,119,MOCHO ODONTOLÓGICO,,UN,4,"454,4000","1817,60"

Empty DataFrame
Columns: [Total, 58379,17]
Index: []

Empty DataFrame
Columns: [DENTAL MED EQUIPAMENTOS E MATERIAIS ODONTOLÓGICOS E HOSPITALARES LTDA EPP]
Index: []

** ERRO ** 7 columns passed, passed data had 1 columns
** TABELA ** [['Item', 'Descrição', 'Marca', 'UN', 'Qtd.', 'Valor Unitário', 'Valor Total'], ['']]

,1,None PASTA P/POLIMENTO DE RESINA COMPOSTA,None,None UN,None 35,"None 11,7800","None 412,30"
0,1 2,PASTA P/POLIMENTO DE RESINA COMPOSTA PASTA PRO...,,UN UN,35 25,"11,7800 3,7300","412,30 93,25"
1,,GRAMAS,,,,,
2,3,PINÇA CLINICA ODONTOLOGICA,,UN,50,"5,1000","255,00"
3,4,PINÇAS CALCADORAS P/RADIOGRAFIA,,UN,4,"0,0000","0,00"
4,5,PINCEL PARA LIMPEZA DE CUSPIDEIRA,,UN,5,"0,0000","0,00"
...,...,...,...,...,...,...,...
70,42,"ÁLCOOL IODADO 70%, EMBALAGEM COM 1 LITRO",,L,20,"0,0000","0,00"
71,82 44,ESCOVA PARA LIMPEZA DE BROCAS ALMOTOLIA PLÁSTI...,,UN UN,5 20,"4,2400 5,0000","21,20 100,00"
72,44,ALMOTOLIA PLÁSTICA TRANSPARENTE BICO RETO 250 ML,,UN,20,"5,0000","100,00"
73,45,ANESTÉSICO ODONTOLÓGICO CLORIDRATO DE,,CX,35,"0,0000","0,00"
74,,LIDOCAÍNA 2% COM VASO CONSTRITOR,,,,,

Empty DataFrame
Columns: [(FENILEFRINA, ADRENALINA OU SIMILAR)]
Index: []

  46   ANESTÉSICO ODONTOLÓGICO CLORIDRATO   CX 35 38,7000 1354,50
0     PRILOCAÍNA A 3% COM FELIPRESSINA OU

Empty DataFrame
Columns: [OCTAPRESIM]
Index: []

,None 47,OCTAPRESIM ANESTÉSICO TÓPICO GEL SABOR TUTI FRUTI OU,None,None UN,None 35,"None 6,2700","None 219,45"
0,,ABACAXI,,,,,
1,48,ABACAXI ANESTÉSICO TÓPICO SPRAY,,UN,15,"66,1400","992,10"
2,48 49,ANESTÉSICO TÓPICO SPRAY BROCA ALTA ROTAÇÃO DIA...,,UN UN,15 50,"66,1400 1,4200","992,10 71,00"
3,49,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,4200","71,00"
4,50,"ESFÉRICA, NÚMERO 1011 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,4200","71,00"
5,50,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,4200","71,00"
6,51,"ESFÉRICA, NÚMERO 1012 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,4200","71,00"
7,51,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,4200","71,00"
8,52,"ESFÉRICA, NÚMERO 1013 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,4200","71,00"
9,52,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,4200","71,00"
10,53,"ESFÉRICA, NÚMERO 1031 BROCA ALTA ROTAÇÃO DIAMA...",,UN,50,"1,4200","71,00"
11,53,"BROCA ALTA ROTAÇÃO DIAMANTADA, FORMA ESFÉRICA,...",,UN,50,"1,4200","71,00"
12,54,"ESFÉRICA, NÚMERO 1032 BROCA ALTA ROTAÇÃO DIAMA...",,UN,20,"0,0000","0,00"
13,54,"BROCA ALTA ROTAÇÃO DIAMANTADA, NUMEO 9006 FF",,UN,20,"0,0000","0,00"
14,55,"9006 FF BROCA ALTA ROTAÇÃO DIAMANTADA, NUMERO",,UN,20,"0,0000","0,00"
15,55,"BROCA ALTA ROTAÇÃO DIAMANTADA, NUMERO 9903 FF",,UN,20,"0,0000","0,00"
16,56,"9903 FF BROCA ALTA ROTAÇÃO DIAMANTADA, PONTA",,UN,20,"1,4200","28,40"
17,56,"BROCA ALTA ROTAÇÃO DIAMANTADA, PONTA DE LÁPIS",,UN,20,"1,4200","28,40"
18,57,"DE LÁPIS BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"6,8000","136,00"
19,57,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NÚMERO 245",,UN,20,"6,8000","136,00"
20,58,"NÚMERO 245 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"6,8000","136,00"
21,58,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NUMEO 330",,UN,20,"6,8000","136,00"
22,59,"NUMEO 330 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"6,8000","136,00"
23,59,"BROCA ALTA ROTAÇÃO EM AÇO CARBIDE, NUMERO 2157",,UN,20,"6,8000","136,00"
24,60,"NUMERO 2157 BROCA ALTA ROTAÇÃO EM AÇO CARBIDE,",,UN,20,"6,8000","136,00"
25,,NUMERO 329,,,,,
26,61,BROCA BAIXA ROTAÇÃO NÚMERO 6,,UN,20,"3,3700","67,40"
27,62,BROCA BAIXA ROTAÇÃO NÚMERO 8,,UN,20,"3,3700","67,40"
28,63,BROCA CIRURGICA Nº 702,,UN,15,"3,2300","48,45"
29,64,BROCA DE ALTA ROTAÇAO TIPO PERA,,UN,20,"6,8000","136,00"
30,65,BROCA ENDO Z,,UN,20,"22,0400","440,80"
31,66,CABO PARA ESPELHO NÚMERO 05,,UN,50,"1,6500","82,50"
32,67,CANETA DE ALTA ROTAÇAO,,UN,5,"230,0000","1150,00"
33,68,CANETA DE BAIXA ROTAÇAO,,UN,5,"364,0000","1820,00"
34,68 69,CANETA DE BAIXA ROTAÇAO CIMENTO DE HIDROXIDO D...,,UN KIT,5 15,"364,0000 11,7800","1820,00 176,70"
35,69 70,CIMENTO DE HIDROXIDO DE CALCIO CIMENTO DE IONÔ...,,KIT KIT,15 25,"11,7800 13,5600","176,70 339,00"
36,,RESTAURAÇÃO- PÓ E LÍQUIDO,,,,,
37,71,"CLOREXEDINA 0,12 % (BOCHECHO)",,UN,25,"9,7700","244,25"
38,72,CLOREXIDINA 2 %,,L,15,"0,0000","0,00"
39,73,COLHER DE DENTINA PEQUENA,,UN,65,"4,0100","260,65"
40,74,CONDENSADOR DE AMALGAMA G,,UN,5,"4,0100","20,05"
41,75,CONDENSADOR DE AMALGAMA M,,UN,5,"4,0100","20,05"
42,76,CONDENSADOR DE AMALGAMA P,,UN,5,"4,0100","20,05"
43,77,DESCOLADOR DE MOLDE,,UN,10,"21,0000","210,00"
44,78,"DESINCRUSTANTE, EMBALAGEM COM 1 LITRO",,UN,20,"29,9000","598,00"
45,79,DIGLUCONATO DE CLOREXIDINA 2%,,UN,2,"5,8800","11,76"
46,79 80,DIGLUCONATO DE CLOREXIDINA 2% DISCO PARA POLIM...,,UN CX,2 15,"5,8800 26,1000","11,76 391,50"
47,81,ESCOVA ODONTOLOGICA CABO EM PLÁSTICO,,UN,2000,"0,3800","760,00"

  RÍGIDO E CERDAS MACIAS EM NYLON, CABEÇA
0  TAMANHO MÉDIO COM NO MÍNIMO 4 FILEIRAS
1             DE CERDAS, TAMANHO INFANTIL

,83,ESCOVA PARA LIMPEZA DE INSTRUMENTAL,,UN,5,"4,0000","20,00"
0,84,ESCOVA TIPO ROBIMOM RETA (PROFILÁTICA),,UN,65,"0,8900","57,85"
1,85,ESPATULA Nº 07,,UN,25,"5,3400","133,50"
2,86,ESPÁTULA P/RESINA COMPOSTA,,UN,65,"35,1700","2286,05"
3,87,ESPELHO BUCAL NÚMERO 5 SEM CABO,,UN,120,"1,7200","206,40"
4,88,ESPONJA DE FIBRINA,,UN,25,"20,0300","500,75"
5,89,EVIDENCIADOR DE PLACA BACTERIANA,,CX,15,"5,6800","85,20"
6,89 90,EVIDENCIADOR DE PLACA BACTERIANA EXPLORADORES,,CX UN,15 65,"5,6800 4,0100","85,20 260,65"
7,90 91,"EXPLORADORES FILME RADIOGRÁFICO, PERIAPICAL, C...",,UN CX,65 25,"4,0100 94,1200","260,65 2353,00"
8,,"UNIDADES,",,,,,
9,92,"UNIDADES, FIO DENTAL 500 MT",,UN,20,"5,1700","103,40"
10,92 93,FIO DENTAL 500 MT FIXADOR PARA RAIO X ODONTOLÓ...,,UN UN,20 4,"5,1700 6,7600","103,40 27,04"
11,,PROCESSAMENTO MANUAL,,,,,
12,94,FORCEPS Nº 1,,UN,15,"39,7400","596,10"
13,95,FORCEPS Nº 101,,UN,15,"39,7400","596,10"
14,96,FORCEPS Nº 150,,UN,15,"39,7400","596,10"
15,97,FORCEPS Nº 151,,UN,15,"39,7400","596,10"
16,98,FORCEPS Nº 17,,UN,15,"39,7400","596,10"
17,99,FORCEPS Nº 18L,,UN,15,"39,7400","596,10"
18,100,FORCEPS Nº 18R,,UN,15,"39,7400","596,10"
19,101,FORCEPS Nº 69,,UN,15,"39,7400","596,10"
20,102,GERMI-KILL 1 LITRO,,UN,25,"0,0000","0,00"
21,102 103,GERMI-KILL 1 LITRO HEMOSTOR LIQUIDO,,UN UN,25 20,"0,0000 9,1500","0,00 183,00"
22,103 104,HEMOSTOR LIQUIDO HIDRÓXIDO DE CÁLCIO P.A. EM P...,,UN UN,20 25,"9,1500 3,9800","183,00 99,50"
23,,ODONTOLÓGICO,,,,,
24,105,"HIPOCLORITO 1,5 %",,L,4,"0,0000","0,00"
25,105 106,"HIPOCLORITO 1,5 % HIPOCLORITO 2 %",,L L,4 4,"0,0000 0,0000","0,00 0,00"
26,106 107,HIPOCLORITO 2 % KIT DE PONTAS PARA ACABAMENTO E,,L KIT,4 10,"0,0000 17,8000","0,00 178,00"
27,,POLIMENTO DE RESINA COMPOSTA,,,,,
28,108,POLIMENTO DE RESINA COMPOSTA LIMA PRIMEIRA SER...,,CX,4,"170,0000","680,00"
29,108 109,LIMA PRIMEIRA SERIE PARA PULPOTOMIA LUVA DE BO...,,CX CX,4 10,"170,0000 0,0000","680,00 0,00"
30,109,LUVA DE BORRACHA PARA LIMPEZA TAMANHO M,,CX,10,"0,0000","0,00"
31,110,"M LUVAS DE PROCEDIMENTO M, CAIXA COM 100",,CX,80,"21,6200","1729,60"
32,110,"LUVAS DE PROCEDIMENTO M, CAIXA COM 100 UNIDADES",,CX,80,"21,6200","1729,60"
33,111,"UNIDADES LUVAS DE PROCEDIMENTO P, CAIXA COM 100",,CX,100,"21,6200","2162,00"
34,,UNIDADES,,,,,
35,112,UNIDADES MANDRIL,,UN,25,"3,3900","84,75"
36,112 113,"MANDRIL MÁSCARA DESCARTÁVEL, CAIXA COM 50",,UN CX,25 55,"3,3900 6,3600","84,75 349,80"
37,113,"MÁSCARA DESCARTÁVEL, CAIXA COM 50 UNIDADES",,CX,55,"6,3600","349,80"
38,114,UNIDADES MATERIAL RESTAURADOR PROVISÓRIO - PÓ E,,KIT,20,"15,2600","305,20"
39,,LÍQUIDO,,,,,
40,115,MATRIZ DE AÇO TAMANHO 5 MM,,UN,25,"0,8900","22,25"
41,115 116,MATRIZ DE AÇO TAMANHO 5 MM MATRIZ DE AÇO TAMAN...,,UN UN,25 25,"0,8900 0,8900","22,25 22,25"
42,116 117,MATRIZ DE AÇO TAMANHO 7 MM ÓLEO LUBRIFICANTE M...,,UN UN,25 15,"0,8900 14,8400","22,25 222,60"
43,,"DE ALTA ROTAÇÃO, 80 ML",,,,,
44,118,OTOSPORIN,,FR,25,"0,0000","0,00"
45,119,"PAPEL TOALHA PARDO, 23 X 27 CM,",,PCT,100,"19,0000","1900,00"

Empty DataFrame
Columns: [INTERFOLHADO, PACOTE COM 1000 FOLHAS, ]
Index: []

,Seq.,Item,Descrição,Marca,UN,Qtd.,Valor Unitário
0,1,012422,PINÇAS CALCADORAS P/RADIOGRAFIA ANESTÉSICO OD...,,CX,35,"37,2000"
1,,,DE LIDOCAÍNA 2% COM VASO CONSTRITOR,,,,
2,,,"(FENILEFRINA, ADRENALINA OU SIMILAR) -",,,,
3,,,ANESTÉSICO ODONTOLÓGICO CLORIDRATO,,,,
4,,,ANESTÉSICO ODONTOLÓGICO CLORIDRATO DE LIDOCA...,,,,
...,...,...,...,...,...,...,...
151,53,012464,(PROFILÁTICA) ESPATULA Nº 07 - ESPATULA Nº 07,,UN,25,"5,3400"
152,53 54,012464 012466,ESPATULA Nº 07 - ESPATULA Nº 07 ESPELHO BUCAL...,,UN UN,25 120,"5,3400 1,7200"
153,,,ESPELHO BUCAL NÚMERO 5 SEM CABO,,,,
154,55,012467,ESPONJA DE FIBRINA - ESPONJA DE FIBRINA,,UN,25,"20,0300"
155,55 56,012467 012468,ESPONJA DE FIBRINA - ESPONJA DE FIBRINA EVIDEN...,,UN CX,25 15,"20,0300 5,6800"

,None 57,None 012469,COM 3 GRAMA - RESINA COMPOSTA EXPLORADORES - EXPLORADORES,None,None UN,None 65,"None 4,0100","None 260,65"
0,58,012470,"FILME RADIOGRÁFICO, PERIAPICAL, COM 150",,CX,25,"94,1200","2353,00"
1,,,"UNIDADES, - FILME RADIOGRÁFICO,",,,,,

Empty DataFrame
Columns: [PERIAPICAL, COM 150 UNIDADES,]
Index: []

,None 59,None 012474,"PERIAPICAL, COM 150 UNIDADES, FIO DENTAL 500 MT - FIO DENTAL 500 MT",None,None UN,None 20,"None 5,1700","None 103,40"
0,60,012475,FIXADOR PARA RAIO X ODONTOLÓGICO PARA,,UN,4,"6,7600","27,04"

  PROCESSAMENTO MANUAL - FIXADOR PARA
0         RAIO  X  ODONTOLÓGICO  PARA
1                PROCESSAMENTO MANUAL

,None 61,None 015627,"PROCESSAMENTO MANUAL FLUOR GEL FLUOR FOSFATO ACIDULADO 1,23",None,None UN,None 20,"None 2,6700","None 53,40"
0,,,GEL FIX´TRÓPICO 240 ML -,,,,,
1,62,012477,FORCEPS Nº 1 - FORCEPS Nº 1,,UN,15,"39,7400","596,10"
2,63,012479,FORCEPS Nº 101 - FORCEPS Nº 101,,UN,15,"39,7400","596,10"
3,64,012480,FORCEPS Nº 150 - FORCEPS Nº 150,,UN,15,"39,7400","596,10"
4,65,012481,FORCEPS Nº 151 - FORCEPS Nº 151,,UN,15,"39,7400","596,10"
5,66,012482,FORCEPS Nº 17 - FORCEPS Nº 17,,UN,15,"39,7400","596,10"
6,67,012483,FORCEPS Nº 18L - FORCEPS Nº 18L,,UN,15,"39,7400","596,10"
7,68,012484,FORCEPS Nº 18R - FORCEPS Nº 18R,,UN,15,"39,7400","596,10"
8,68 69,012484 012485,FORCEPS Nº 18R - FORCEPS Nº 18R FORCEPS Nº 69 ...,,UN UN,15 15,"39,7400 39,7400","596,10 596,10"
9,70,000290,"GUTA PERCHA EM BASTÃO, BRANCA - GUTA",,UN,4,"19,0600","76,24"
10,,,"PERCHA EM BASTÃO, BRANCA, CAIXA COM",,,,,

Empty DataFrame
Columns: [40 UNIDADES]
Index: []

,None 71,None 012489,40 UNIDADES HEMOSTOR LIQUIDO - HEMOSTOR LIQUIDO,None,None UN,None 20,"None 9,1500","None 183,00"
0,72,012493,KIT DE PONTAS PARA ACABAMENTO E,,KIT,10,"17,8000","178,00"

  POLIMENTO DE RESINA COMPOSTA - KIT DE
0    PONTAS PARA ACABAMENTO E POLIMENTO
1                    DE RESINA COMPOSTA

,None 73,None 012498,DE RESINA COMPOSTA MANDRIL - MANDRIL,None,None UN,None 25,"None 3,3900","None 84,75"
0,74,012500,MATERIAL RESTAURADOR PROVISÓRIO - PÓ E,,KIT,20,"15,2600","305,20"
1,,,LÍQUIDO - MATERIAL RESTAURADOR,,,,,

Empty DataFrame
Columns: [PROVISÓRIO - PÓ E LÍQUIDO]
Index: []

,None 75,None 012501,PROVISÓRIO - PÓ E LÍQUIDO MATRIZ DE AÇO TAMANHO 5 MM - MATRIZ DE,None,None UN,None 25,"None 0,8900","None 22,25"
0,75,012501,MATRIZ DE AÇO TAMANHO 5 MM - MATRIZ DE AÇO TAM...,,UN,25,"0,8900","22,25"
1,76,012502,AÇO TAMANHO 5 MM MATRIZ DE AÇO TAMANHO 7 MM - ...,,UN,25,"0,8900","22,25"
2,,,AÇO TAMANHO 7 MM,,,,,
3,77,015628,AÇO TAMANHO 7 MM MOCHO ODONTOLÓGICO -,,UN,4,"370,0000","1480,00"
4,77 78,015628 012506,MOCHO ODONTOLÓGICO - PASTA P/POLIMENTO DE RESI...,,UN UN,4 35,"370,0000 11,7800","1480,00 412,30"
5,78,012506,PASTA P/POLIMENTO DE RESINA COMPOSTA - PASTA P...,,UN,35,"11,7800","412,30"
6,79,012507,"PASTA PROFILÁTICA COM FLÚOR, TUBO COM",,UN,25,"3,7300","93,25"
7,,,90 GRAMAS - PASTA PROFILÁTICA COM,,,,,

Empty DataFrame
Columns: [FLÚOR, TUBO COM 90 GRAMAS]
Index: []

,None 80,None 012508,"FLÚOR, TUBO COM 90 GRAMAS PINÇA CLINICA ODONTOLOGICA - PINÇA",None,None UN,None 50,"None 5,1000","None 255,00"
0,,,CLINICA ODONTOLOGICA,,,,,
1,81,012511,PLACA DE VIDRO - PLACA DE VIDRO,,UN,15,"4,5000","67,50"
2,81 82,012511 012512,PLACA DE VIDRO - PLACA DE VIDRO PORTA MATRIZ -...,,UN UN,15 6,"4,5000 16,0000","67,50 96,00"
3,83,012515,RESINA COMPOSTA FOTOPOLIMERIZÁVEL,,UN,40,"9,7400","389,60"

  HIBRÍDA,  COR  B2,  TUBO  COM  3  GRAMAS  -
0         RESINA  COMPOSTA  FOTOPOLIMERIZÁVEL
1          HIBRÍDA, COR B2, TUBO COM 3 GRAMAS

  84 012516    RESINA  COMPOSTA  FOTOPOLIMERIZÁVEL   UN 5 9,7400 48,70
0            MICROHÍBRIDA OU HÍBRICA, COR C2, TUBO

,Sub Total,None,None FOTOPOLIMERIZÁVEL MICROHÍBRIDA OU,None,None,None,"24866,58"
0,,,"FOTOPOLIMERIZÁVEL MICROHÍBRIDA OU HÍBRICA, C...",,,,
1,85,012517,"HÍBRICA, COR C2, TUBO COM 3 GRAMA RESINA COMP...",,UN,25,"9,7400"
2,,,"MICROHÍBRIDA OU HÍBRIDA, COR A1, TUBO",,,,
3,,,COM 3 GRAMAS - RESINA COMPOSTA,,,,
4,,,COM 3 GRAMAS - RESINA COMPOSTA FOTOPOLIME...,,,,
5,,,"FOTOPOLIMERIZÁVEL MICROHÍBRIDA OU HÍBRIDA, C...",,,,
6,86,012518,"HÍBRIDA, COR A1, TUBO COM 3 GRAMAS RESINA COM...",,UN,25,"9,7400"
7,,,"MICROHÍBRIDA OU HÍBRIDA, COR A2, TUBO",,,,
8,,,COM 3 GRAMAS - RESINA COMPOSTA,,,,
9,,,COM 3 GRAMAS - RESINA COMPOSTA FOTOPOLIME...,,,,
10,,,"FOTOPOLIMERIZÁVEL MICROHÍBRIDA OU HÍBRIDA, C...",,,,
11,87,012519,"HÍBRIDA, COR A2, TUBO COM 3 GRAMAS RESINA COM...",,UN,25,"9,7400"
12,,,"MICROHÍBRIDA OU HÍBRIDA, COR A3,5, TUBO",,,,
13,,,COM 3 GRAMAS - RESINA COMPOSTA,,,,
14,,,COM 3 GRAMAS - RESINA COMPOSTA FOTOPOLIME...,,,,
15,,,"FOTOPOLIMERIZÁVEL MICROHÍBRIDA OU HÍBRIDA, C...",,,,
16,88,012520,"HÍBRIDA, COR A3,5, TUBO COM 3 GRAMAS RESINA C...",,UN,25,"9,7400"
17,,,"MICROHÍBRIDA OU HÍBRIDA, COR B1, TUBO",,,,
18,,,COM 3 GRAMAS - RESINA COMPOSTA,,,,
19,,,COM 3 GRAMAS - RESINA COMPOSTA FOTOPOLIME...,,,,
20,,,"FOTOPOLIMERIZÁVEL MICROHÍBRIDA OU HÍBRIDA, C...",,,,
21,89,012521,"HÍBRIDA, COR B1, TUBO COM 3 GRAMAS RESINA COM...",,UN,25,"9,7400"
22,,,"MICROHÍBRIDA OU HÍBRIDA, COR B2, TUBO",,,,
23,,,COM 3 GRAMAS - RESINA COMPOSTA,,,,
24,,,COM 3 GRAMAS - RESINA COMPOSTA FOTOPOLIME...,,,,
25,,,"FOTOPOLIMERIZÁVEL MICROHÍBRIDA OU HÍBRIDA, C...",,,,
26,90,012524,"HÍBRIDA, COR B2, TUBO COM 3 GRAMAS REVELADOR ...",,UN,4,"6,7600"
27,,,"ODONTOLOGICO, PROCESSAMENTO MANUAL",,,,
28,,,1 LITRO - REVELADOR RADIOGRAFICO,,,,
29,,,1 LITRO - REVELADOR RADIOGRAFICO ODONTOLOG...,,,,
30,,,1 LITRO,,,,
31,91,012526,1 LITRO SACA BROCA - SACA BROCA,,UN,15,"14,4600"
32,91 92,012526 012527,SACA BROCA - SACA BROCA SELANTE DE FÓSSULAS ...,,UN UN,15 15,"14,4600 12,2100"
33,,,SELANTE DE FÓSSULAS E FISSURAS,,,,
34,93,012528,SELANTE DE FÓSSULAS E FISSURAS SERINGA CARPULE...,,UN,25,"16,1100"
35,93 94,012528 012529,SERINGA CARPULE - SERINGA CARPULE SERINGA DE ...,,UN UN,25 35,"16,1100 1,1700"
36,94,012529,SERINGA DE ÁCIDO FOSFÓRICO 37% - SERINGA ...,,UN,35,"1,1700"
37,95,012533,SERINGA DE ÁCIDO FOSFÓRICO 37% SUGADOR PLÁSTI...,,PCT,20,"3,2200"
38,,,EMBALAGEM COM 40 UNIDADES - SUGADOR,,,,
39,,,EMBALAGEM COM 40 UNIDADES - SUGADOR PLÁSTICO D...,,,,
40,,,PLÁSTICO DESCARTÁVEL EMBALAGEM COM 40 UNIDADES,,,,
41,96,012530,40 UNIDADES TAÇA DE BORRACHA PARA PROFILAXIA,,UN,55,"0,8900"
42,,,"ODONTOLÓGICA, COM CONTRA ÂNGULO -",,,,
43,,,"ODONTOLÓGICA, COM CONTRA ÂNGULO - TAÇA DE...",,,,
44,,,"ODONTOLÓGICA, COM CONTRA ÂNGULO",,,,
45,97,012531,"ODONTOLÓGICA, COM CONTRA ÂNGULO TESOURA CIRURG...",,UN,15,"13,0500"
46,97 98,012531 012534,TESOURA CIRURGICA M 15 CM - ... TIRA DE LIXA D...,,UN CX,15 15,"13,0500 5,7700"
47,98,012534,"TIRA DE LIXA DE POLIESTER, CAIXA COM 150 UNIDA...",,CX,15,"5,7700"
48,,,"UNIDADES - TIRA DE LIXA DE POLIESTER, CA...",,,,
49,99,012536,CAIXA COM 150 UNIDADES TIRA DE LIXA EM AÇO I...,,CX,15,"5,9000"
50,,,"POLIMENTO DE AMÁLGAMA, 4 MM DE",,,,
51,,,LARGURA. CAIXA COM 12 UNIDADES - TIRA,,,,
52,,,"DE LIXA EM AÇO INOXIDÁVEL, PARA",,,,
53,,,"POLIMENTO DE AMÁLGAMA, 4 MM DE",,,,

Empty DataFrame
Columns: [LARGURA. CAIXA COM 12 UNIDADES, ]
Index: []

,Total Geral 100,None 012414,None ÁGUA OXIGENADA 10 VOLUMES FRASCO DE 1,None,None FR,None 15,"42340,91 3,5600"
0,100,012414,ÁGUA OXIGENADA 10 VOLUMES FRASCO DE 1 LITRO -...,,FR,15,"3,5600"
1,,,LITRO - ÁGUA OXIGENADA 10 VOLUMES FRASCO ...,,,,
2,101,012417,"FRASCO DE 1 LITRO ÁLCOOL ETÍLICO 70%, FRASC...",,FR,30,"5,9500"
3,101,012417,"ÁLCOOL ETÍLICO 70%, FRASCO COM 1000 MILIL...",,FR,30,"5,9500"
4,,,"MILILITROS - ÁLCOOL ETÍLICO 70%, FRASCO COM 10...",,,,
5,102,012418,"COM 1000 MILILITROS ÁLCOOL IODADO 70%, EMBA...",,L,20,"9,8000"
6,102,012418,"ÁLCOOL IODADO 70%, EMBALAGEM COM 1 LITRO ...",,L,20,"9,8000"
7,,,"LITRO - ÁLCOOL IODADO 70%, EMBALAGEM COM 1 LITRO",,,,
8,103,012420,COM 1 LITRO ALMOTOLIA PLÁSTICA TRANSPARENTE BICO,,UN,20,"2,2900"
9,103,012420,ALMOTOLIA PLÁSTICA TRANSPARENTE BICO RETO 250...,,UN,20,"2,2900"
10,,,RETO 250 ML - ALMOTOLIA PLÁSTICA TRANSPAR...,,,,
11,104,012425,TRANSPARENTE BICO RETO 250 ML ANESTÉSICO TÓPI...,,UN,15,"43,6000"
12,104,012425,ANESTÉSICO TÓPICO SPRAY - ANESTÉSICO TÓPIC...,,UN,15,"43,6000"
13,105,012441,TÓPICO SPRAY BROCA DE ALTA ROTAÇAO TIPO P...,,UN,20,"2,1000"
14,,,BROCA DE ALTA ROTAÇAO TIPO PERA,,,,
15,106,012449,BROCA DE ALTA ROTAÇAO TIPO PERA CLOREXIDINA 2 ...,,L,15,"12,6000"
16,106 107,012449 012465,CLOREXIDINA 2 % - CLOREXIDINA 2 % ESPÁTULA P/R...,,L UN,15 65,"12,6000 21,6000"
17,107,012465,ESPÁTULA P/RESINA COMPOSTA - ESPÁTULA P/RESINA...,,UN,65,"21,6000"
18,108,011271,P/RESINA COMPOSTA GLUTARALDEÍDO 2 % FRASCO COM...,,L,25,"11,5000"
19,,,...,,,,
20,109,012492,... HIPOCLORITO 2 % - HIPOCLORITO 2 %,,L,4,"7,9500"
21,109 110,012492 012495,HIPOCLORITO 2 % - HIPOCLORITO 2 % LUVA DE BO...,,L CX,4 10,"7,9500 39,6000"
22,110,012495,LUVA DE BORRACHA PARA LIMPEZA TAMANHO M ...,,CX,10,"39,6000"
23,,,TAMANHO M - LUVA DE BORRACHA PARA LIMPEZ...,,,,
24,111,012496,"LIMPEZA TAMANHO M LUVAS DE PROCEDIMENTO M, CAI...",,CX,80,"19,2000"
25,111,012496,"LUVAS DE PROCEDIMENTO M, CAIXA COM 100 UNIDADE...",,CX,80,"19,2000"
26,,,"UNIDADES - LUVAS DE PROCEDIMENTO M, CAIXA...",,,,
27,112,012497,CAIXA COM 100 UNIDADES LUVAS DE PROCEDIMENTO P...,,CX,100,"19,2000"
28,112,012497,"LUVAS DE PROCEDIMENTO P, CAIXA COM 100 UNIDADE...",,CX,100,"19,2000"
29,,,"UNIDADES - LUVAS DE PROCEDIMENTO P, CAIXA...",,,,
30,113,012499,"CAIXA COM 100 UNIDADES MÁSCARA DESCARTÁVEL, ...",,CX,55,"5,9500"
31,113,012499,"MÁSCARA DESCARTÁVEL, CAIXA COM 50 UNIDADES...",,CX,55,"5,9500"
32,,,COM 50 UNIDADES,,,,
33,114,012504,COM 50 UNIDADES OTOSPORIN - OTOSPORIN,,FR,25,"12,5000"
34,114 115,012504 012505,"OTOSPORIN - OTOSPORIN PAPEL TOALHA PARDO, 2...",,FR PCT,25 100,"12,5000 8,9500"
35,,,"INTERFOLHADO, PACOTE COM 1000 FOLHAS -",,,,
36,,,"INTERFOLHADO, PACOTE COM 1000 FOLHAS - PAPEL ...",,,,
37,,,"PAPEL TOALHA PARDO, 23 X 27 CM, INTERFOL...",,,,
38,116,012535,"INTERFOLHADO, PACOTE COM 1000 FOLHAS TIRA DE ...",,CX,15,"8,5500"
39,,,"ACABAMENTO DE RESINA 2,5MM, CAIXA COM",,,,
40,,,150 UNIDADES - TIRA DE LIXA DE POLIMENTO,,,,
41,,,"E ACABAMENTO DE RESINA 2,5MM, CAIXA",,,,

ea9f6170e573536f8ecbf073a8cce337

Empty DataFrame
Columns: [ATA DE REUNIÃO DO PREGÃO PRESENCIAL Nº 60/2017

 Aos 03  de outubro de 2017 as 13:30 minutos, na sala de Licitações da Prefeitura Municipal de Cristais, situado na Praça Cel. Joaquim Luiz da Costa Maia, 001
Centro, em Cristais/MG, realizou-se sessão pública para analisar o recurso quanto a apresentação da certidão municipal vencida e recurrsos apresentados em razão do certame
icitatório na modalidade de Pregão Presencial em referência, cujo objeto é: AQUISIÇÕES FUTURAS E INCERTAS DE BALANÇAS ELETRÔNICAS DIGITAIS
Presentes o pregoeiro PABLO JOSE DA SILVA, bem como a equipe de apoio:
Equipe de Apoio
EDINAMARA RIBEIRO SILVA, MATTHEUS HENRIQUE ROGANA
 que esta subscrevem designados pela Portaria nº 92/2017 - 21/08/2017, para atendimento às disposições contidas no Decreto nº 031/2009 de 10/06/2009. Presentes
ambém, os representantes das empresas licitantes, conforme relação abaixo:]
Index: []

,LICITANTE(S),REPRESENTANTE(S)
0,MARCOS ANTÔNIO SOARES - CPF 46861882615 - EPPC...,CPF: 515.842.046-72\nALTAIR DA SILVA

dd9ac6836d95f5c7d620020fb7f86561
7920f287fb2544648ce2073ebc2deccd

          Descrição dos itens Valor Unitário
0  LEITE DE VACA PASTEURIZADO        R$ 2,56
1                 Valor total   R$ 40.960,00

8536c092ea2d9aa0e826e88d3a1335c4

               ATA DE REGISTRO DE PREÇOS N.º 012/2017
0      ATA  DE  REGISTRO  DE  PREÇOS  QUE,  ENTRE  SI
1        CELEBRAM, DE UM LADO, PREFEITURA MUNICIPAL D
2        CRISTAIS E DE OUTRO A EMPRESA MARCOS ANTÔNIO
3    SOARES - CPF 46861882615 - EPP, NA FORMA ABAIXO.
4             TIPO DE LICITAÇÃO: Menor Preço Unitário
5                               PROCESSO Nº. 003/2017
6   PREGÃO PRESENCIAL Nº 003/2017 com REGISTRO DE ...
7   Aos  01 de fevereiro de 2017, a PREFEITURA MUN...
8   Cristais/MG, presentes, de um lado, a PREFEITU...
9   epresentada pelo Sr. DJALMA FRANCISCO CARVALHO...
10  ropostas de preços - no Pregão Presencial para...
11  classificação das propostas de preços, RESOLVE...
12  assam a fazer parte desta Ata de Registro de P...
13  CNPJ 71.170.039/0001-03, sediada na Rua AV AFO...
14  onforme planilha anexa. A Ata de Registro de P...
15  PREFEITURA MUNICIPAL DE CRISTAIS, como ÓRGÃO G...
16  reços registrados, na forma do Anexo I do Edit...
17  ados por encerrados os trabalhos, lavrando-se ...
18  epresentante da empresa com preços registrados...
19                         feitos jurídicos e legais.
20  Este instrumento guarda inteira conformidade c...
21  ntegrante e complementar, vinculando-se, ainda...
22  ederal 8.666/93, e pelo Decreto Municipal n° 0...
23              854/99, e com as seguintes cláusulas:
24                     CLÁUSULA PRIMEIRA - DO OBJETO.
25  .1 A presente Ata de Registro de Preços tem po...
26  NECESSIDADES DAS DIVERSAS DIRETORIAS MUNICIPAI...
27  .2 - Consideram-se integrantes da Ata de Regis...
28  s partes declaram conhecer e aceitar: o instru...
29  presentada pela detentora da Ata de Registro d...
30  O não cumprimento dos prazos estipulados nesta...
31  ederal nº 8666/93, artigos 81, 86, 87 e 88, al...
32                                .2.1 - Advertência;
33  .2.2 - Multa de 10% (dez por cento) sobre o va...
34  u retirar a Ata de Registro de Preços, ou docu...
35  arcial do ajuste; por material não aceito por ...
36                  ito) horas a contar da intimação;
37  .2.2 - Multa de 0,5% (meio por cento) ao dia, ...
38  .2.3 - Multa de 1,0% (hum por cento) ao dia, p...
39       CLÁUSULA SEGUNDA - DA FORMA DE FORNECIMENTO.
40  .1 – O fornecimento do objeto se dará de forma...
41  elo setor competente, não obrigando a aquisiçã...